<!--manage/apply.html-->

{% extends 'manage/base.html' %}

{% block add_css_to_manage %}
    <!--多项选择的css依赖-->
    <link href="/static/css_js/css/plugins/select2/select2.min.css" rel="stylesheet" type="text/css">
    <link href="/static/css_js/css/plugins/select2/select2-bootstrap.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block manage_body %}
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>实验对应的课程信息</h5>
            <div class="ibox-tools">
                <a class="collapse-link">
                    <i class="fa fa-chevron-up"></i>
                </a>
            </div>
        </div>
        <div class="ibox-content">
            <table data-toggle="table" id="course_info_table" class="table-hover" style="table-layout:fixed;word-break:break-all;">
                <thead><tr>
                    <th data-field="department">教师所属系别<span class="need">*</span></th>
                    <th data-field="teacher">教师<span class="need">*</span></th>
                    <th data-field="course">课程<span class="need">*</span></th>
                    <th data-field="classes">授课班级<span class="need">*</span></th>
                    <th data-field="teaching_materials">实验教材</th>
                    <th data-field="consume_requirements">总体耗材需求</th>
                    <th data-field="system_requirements">总体系统需求</th>
                    <th data-field="soft_requirements">总体软件需求</th>
                </tr></thead>
                <tbody><tr>
                    <td id="department">
                        {% if request.session.user_type == 'managers' %}
                            <select id="departments_select" class="form-control">
                                {% for department in departments %}
                                    {% if forloop.first %}
                                        <option value={{ department.id }} selected>{{ department.name }}</option>
                                    {% else %}
                                        <option value={{ department.id }}>{{ department.name }}</option>
                                    {% endif %}
                                {% empty %}
                                {% endfor %}
                            </select>
                        {% elif request.session.user_type == 'teachers' %}
                            {{ request.session.department_name }}
                        {% else %}
                            无
                        {% endif %}
                    </td>
                    <td id="teacher">
                        {% if request.session.user_type == 'managers' %}
                            <select id="teachers_select" class="form-control">
                                <option>--------</option>
                                {% for teacher in teachers %}
                                    <option value='{{ teacher.account }}'>{{ teacher.name }}</option>
                                {% empty %}
                                {% endfor %}
                            </select>
                        {% elif request.session.user_type == 'teachers' %}
                            {{ request.session.user_name }}
                        {% else %}
                            无
                        {% endif %}
                    </td>
                    <td>
                        <select id="courses_select" class="form-control">
                            <option>--------</option>
                            {% for course in courses %}
                                <option value={{ course.id }}>{{ course.name }}</option>
                            {% empty %}
                            {% endfor %}
                        </select>
                    </td>
                    <td>
                        <div id="classes">
                            {% if classes %}{{ classes|safe }}{% endif %}
                        </div>
                    </td>
                    <td><a id="teaching_materials" data-type="textarea"></a></td>
                    <td><a id="consume_requirements" data-type="textarea"></a></td>
                    <td><a id="system_requirements" data-type="textarea"></a></td>
                    <td><a id="soft_requirements" data-type="textarea"></a></td>
                </tr></tbody>
            </table>
        </div>
    </div>

    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>实验项目申请表</h5>
            <div class="ibox-tools">
                <button id="add_experiment_button" class="btn btn-primary">添加实验项目</button>
                <button id="remove_experiment_button" class="btn btn-danger" disabled>批量删除</button>
                <a class="collapse-link">
                    <i class="fa fa-chevron-up"></i>
                </a>
            </div>
        </div>
        <div class="ibox-content">
            <table
                    id="experiment_info_table"
                    class="table-responsive"
                    {#                    data-detail-formatter="detailFormatter"#}
                    data-minimum-count-columns="2"
                    data-id-field="id"
                    {#                    data-side-pagination="server"#}
                    {#                    data-response-handler="responseHandler"#}
                    data-click-to-select="true">
            </table>
            <div align="right">
                <br>
                <button id="submit" class="btn btn-primary" data-target="#all_info_after_submit_modal_table" title="提交前会预览所有提交的信息" data-toggle="modal">提交</button>
            </div>

            <!--单独添加特殊需求的模态表格-->
            <div id="add_special_requirements_modal_table" class="modal fade" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">为该实验单独添加特殊需求</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <table id="special_requirements_table"
                                   data-toggle="table"
                                   data-height="268">
                                <thead><tr>
                                    <th data-field="special_consume_requirements">耗材需求</th>
                                    <th data-field="special_system_requirements">系统需求</th>
                                    <th data-field="special_soft_requirements">软件需求</th>
                                </tr></thead>
                                <tbody><tr>
                                    <td><a href="#" id="special_consume_requirements" data-type="text"></a></td>
                                    <td><a href="#" id="special_system_requirements" data-type="text"></a></td>
                                    <td><a href="#" id="special_soft_requirements" data-type="text"></a></td>
                                </tr></tbody>
                            </table>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal" id="set_special_requirements">确定</button>
                        </div>
                    </div>
                </div>
            </div>

            <!--显示提交时所有信息的模态表格-->
            <div id="all_info_after_submit_modal_table" class="modal fade" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document" style="width: 1388px;">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">您将提交的信息如下，请认真检查：</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <!--提交后的课程的信息表-->
                            <table id="all_submit_info_table_course"
                                   data-toggle="table"
                                   data-height="100">
                                <thead><tr>
                                    <th data-field="after_submit_department">学院</th>
                                    <th data-field="after_submit_teacher_name">教师姓名</th>
                                    <th data-field="after_submit_course">课程</th>
                                    <th data-field="after_submit_classes">班级</th>
                                    <th data-field="after_submit_teaching_materials">实验教材</th>
                                    <th data-field="after_submit_consume_requirements">总体耗材需求</th>
                                    <th data-field="after_submit_system_requirements">总体系统需求</th>
                                    <th data-field="after_submit_soft_requirements">总体软件需求</th>
                                </tr></thead>
                            </table>
                            <!--提交后的该课程的所有实验项目的信息表-->
                            <table id="all_submit_info_table_experiments"
                                   data-toggle="table"
                                   data-height="368">
                                <thead><tr>
                                    <th data-field="after_submit_id">编号</th>
                                    <th data-field="after_submit_experiment_name">项目名称</th>
                                    <th data-field="after_submit_experiment_type">类型</th>
                                    <th data-field="after_submit_lecture_time">学时</th>
                                    <th data-field="after_submit_which_week">周次</th>
                                    <th data-field="after_submit_days_of_the_week">星期</th>
                                    <th data-field="after_submit_section">节次</th>
                                    <th data-field="after_submit_labs_of_institute">实验室所属学院</th>
                                    <th data-field="after_submit_lab_attributes">实验室属性</th>
                                    <th data-field="after_submit_labs">实验室</th>
                                    <th data-field="after_submit_special_consume_requirements">特殊耗材需求</th>
                                    <th data-field="after_submit_special_system_requirements">特殊系统需求</th>
                                    <th data-field="after_submit_special_soft_requirements">特殊软件需求</th>
                                </tr></thead>
                            </table>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal" id="submit_all_items">确认提交</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block add_js_to_manage %}
    <script src="/static/css_js/js/plugins/select2/select2.full.min.js"></script>

    <!--本页面的一些全局配置-->
    <script>
        var global_current_special_requirements_row = null;  // 临时存放当前行的特殊需求数据
    </script>

    <!--课程信息表配置 开始-->
    <script>
        $(document).ready(function() {
            // 选择系别后的教师下拉列表联动数据刷新
            $("#departments_select").change(function () {
                var department_id = $(this).val();
                console.log('选择的系别 ID 为：' + department_id);

                $.ajax({
                    url: '{% url 'manage:ajax_load_teachers_of_department' %}',
                    data: {'department_id': department_id},
                    success: function (data) {
                        $("#courses_select").empty();
                        $("#classes").empty();
                        $("#teachers_select").html(data);
                    }
                });
            });

            // 选择教师后的课程下拉列表联动数据刷新
            $("#teachers_select").change(function () {
                var teacher_account = $(this).val();
                if(teacher_account === '--------'){
                    console.log('未选择');
                    $("#courses_select").empty();
                    $("#classes").empty();
                }else{
                    console.log('选择的教师 account 为：' + teacher_account);

                    $.ajax({
                        url: '{% url 'manage:ajax_load_courses_of_teacher' %}',
                        data: {'teacher_account': teacher_account},
                        success: function (data) {
                            $("#classes").empty();  // 清空原来内容
                            $("#courses_select").html(data);
                        }
                    });
                }
            });

            // 选择课程后的授课班级联动数据刷新
            $("#courses_select").change(function () {
                var course_id = $(this).val();
                if(course_id === '--------'){
                    console.log('未选择')
                }else{
                    console.log('选择的课程 ID 为：' + course_id);

                    $.ajax({
                        url: '{% url 'manage:ajax_load_classes_of_course' %}',
                        data: {'course_id': course_id},
                        success: function (data) {
                            $("#classes").html(data.classes);  // 用返回的数据替换班级的内容
                        }
                    });
                }
            });

            // 实验教材
            $('#teaching_materials').editable({
                placeholder: "一般为书籍或视频",
                rows:5,
                mode:"popup",
            });

            // 总体环境需求
            $('#consume_requirements').editable({
                placeholder: '如：电子试验箱',
                rows:5,
                mode:"popup",
            });
            $('#system_requirements').editable({
                placeholder: '如：windows10',
                rows:5,
                mode:"popup",
            });
            $('#soft_requirements').editable({
                placeholder: '如：pycharm专业版',
                rows:5,
                mode:"popup",
            });
        });
    </script>
    <!--课程信息表配置 结束-->

    <!--实验项目表的配置 开始-->
    <script>
        var experiment_info_table = $('#experiment_info_table');
        var remove_experiment_button = $('#remove_experiment_button');
        var selections = [];

        // 初始化实验项目表
        function init_experiment_info_table() {
            experiment_info_table.bootstrapTable('destroy').bootstrapTable({
                columns: [
                    [{
                        field: 'state',
                        checkbox: true,
                    }, {
                        title: '编号<span class="need">*</span>',
                        field: 'id',
                    }, {
                        field: 'experiment_name',
                        title: '项目名称<span class="need">*</span>',
                        editable:{
                            type:'text',
                        },
                    }, {
                        field: 'experiment_type',
                        title: '实验类型<span class="need">*</span>',
                        editable:{
                            type:'select',
                            source: [
                                {% for x in experiments_type %}
                                    { value: {{ x.id }}, text: '{{ x.name }}'},
                                {% empty %}
                                    { value:"", text: not_found_data},
                                {% endfor %}
                            ]
                        }
                    }, {
                        field: 'lecture_time',
                        title: '学时<span class="need">*</span>',
                        editable:{
                            type:'select',
                            source: [
                                {% if lecture_time %}
                                    {% for x in lecture_time %}
                                        { value: {{ x }}, text: {{ x }}},
                                    {% endfor %}
                                {% else %}
                                    { value:"", text: not_found_data},
                                {% endif %}
                            ]
                        }
                    }, {
                        field: 'which_week',
                        title: '周次<span class="need">*</span>',
                        editable:{
                            type:'select',
                            source: [
                                {% if which_week %}
                                    {% for x in which_week %}
                                        { value: {{ x }}, text: {{ x }}},
                                    {% endfor %}
                                {% else %}
                                    { value:"", text: not_found_data},
                                {% endif %}
                            ]
                        }
                    }, {
                        field: 'days_of_the_week',
                        title: '星期<span class="need">*</span>',
                        editable:{
                            type:'select',
                            source: [
                                {% if days_of_the_week %}
                                    {% for x in days_of_the_week %}
                                        { value: {{ x }}, text: {{ x }}},
                                    {% endfor %}
                                {% else %}
                                    { value:"", text: not_found_data},
                                {% endif %}
                            ]
                        }
                    }, {
                        field: 'section',
                        title: '节次<span class="need">*</span>',
                        editable:{
                            type:'select2',
                            source: [
                                {% if section %}
                                    {% for x in section %}
                                        { value: {{ x }}, text: {{ x }}},
                                    {% endfor %}
                                {% else %}
                                    { value:"", text: not_found_data},
                                {% endif %}
                            ],
                            select2 : {
                                multiple : true,
                                width : '100px'//设置宽，这个一定要，不然显示框很窄
                            }
                        }
                    }, {
                        field: 'labs_of_institute',
                        title: '实验室所属学院',
                        editable:{
                            type:'select',
                            source: [
                                {% if labs_of_institute %}
                                    {% for x in labs_of_institute %}
                                        { value: {{ x.id }}, text: '{{ x.name }}'},
                                    {% endfor %}
                                {% else %}
                                    { value:"", text: not_found_data},
                                {% endif %}
                            ]
                        }
                    }, {
                        field: 'lab_attributes',
                        title: '实验室属性',
                        editable:{
                            type:'select2',
                            source: [
                                {% for x in lab_attributes %}
                                    {value: {{ x.id }}, text: '{{ x.name }}' },
                                {% empty %}
                                    {value:"", text: '暂无数据'}
                                {% endfor %}
                            ],
                            select2 : {
                                // allowClear : true,
                                multiple : true,
                                // tokenSeparators : [",", " "],
                                width : '100px'//设置宽，这个一定要，不然显示框很窄
                            }
                        }
                    }, {
                        field: 'labs',
                        title: '实验室',
                        editable:{
                            type:'select2',
                            source: [
                                {% for x in all_labs %}
                                    {value: {{ x.id }}, text: '{{ x.name }}' },
                                {% empty %}
                                    {value:"", text: '暂无数据'},
                                {% endfor %}
                            ],
                            select2 : {
                                // allowClear : true,
                                multiple : true,
                                // tokenSeparators : [",", " "],
                                width : '100px'//设置宽，这个一定要，不然显示框很窄
                            }
                        }
                    }, {
                        field: 'operate',
                        title: '单项操作',
                        events: window.operateEvents,
                        formatter: operateFormatter
                    }]
                ],
            });

            function operateFormatter(value, row, index) {
                console.log('operateFormatter()执行');
                return [
                    '<a class="add_special_requirements" href="javascript:void(0)" title="为该项单独添加耗材、系统、软件需求" data-toggle="modal" data-target="#add_special_requirements_modal_table">',
                    '<i class="glyphicon glyphicon-plus-sign"></i>',
                    '</a>',
                ].join('')
            }

            experiment_info_table.on('check.bs.table uncheck.bs.table ' + 'check-all.bs.table uncheck-all.bs.table', function () {
                remove_experiment_button.prop('disabled', !experiment_info_table.bootstrapTable('getSelections').length);
                // save your data, here just save the current page
                selections = getIdSelections()
                // push or splice the selections if you want to save all data selections
            });
            experiment_info_table.on('all.bs.table', function (e, name, args) {
                console.log(name, args)
            });

            // 删除实验项目的点击事件
            remove_experiment_button.click(function () {
                var ids = getIdSelections();
                experiment_info_table.bootstrapTable('remove', {
                    field: 'id',
                    values: ids
                });
                remove_experiment_button.prop('disabled', true)
            })
        }

        function getIdSelections() {
            return $.map(experiment_info_table.bootstrapTable('getSelections'), function (row) {
                console.log('getIdSelections()执行');
                return row.id
            })
        }

        $(function() {
            init_experiment_info_table();
            $('#locale').change(init_experiment_info_table)
        })
    </script>
    <!--实验项目表的配置 结束-->

    <!--动态添加实验项目表格行 事件 开始-->
    <script>
        $("#add_experiment_button").click(function () {
            if($('#courses_select option:selected').text() === "--------"){
                alert('请先选择课程');
            }else{
                // 用index实现编号自增
                var data = experiment_info_table.bootstrapTable('getData');
                console.log('获取上一行实验项目数据：', data);
                var index = data.length;
                var new_row = JSON.stringify(data[index-1]);
                // 如果是第一次添加行，则为空
                if(!new_row){
                    new_row = {
                        "id":index,
                        "experiment_name":"",
                        "experiment_type":{% if experiments_type %}{{ experiments_type.0.id }}{% else %}""{% endif %},
                        "lecture_time":{{ lecture_time.1 }},
                        "which_week":{{ which_week.0 }},
                        "days_of_the_week":{{ days_of_the_week.0 }},
                        "section":"",
                        "labs_of_institute":"",
                        "lab_attributes":"",
                        "labs":"",
                        "special_consume_requirements":"",
                        "special_system_requirements":"",
                        "special_soft_requirements":""
                    }
                }else{
                    new_row = JSON.parse(new_row);
                    // 清空新行的实验项目名称
                    new_row.experiment_name = "";
                    // 清空新行的所有特殊需求，因为多数情况下并不是每个实验都有这个特殊需求
                    new_row.special_consume_requirements = "";
                    new_row.special_system_requirements = "";
                    new_row.special_soft_requirements = "";
                    new_row.which_week = Number(new_row.which_week);
                    new_row.which_week += 1;

                    new_row = JSON.stringify(new_row);
                    new_row = eval('(' + new_row + ')');

                    console.log('动态添加实验项目--获取到上一行数据：'+JSON.stringify(new_row));
                    new_row["id"] = index;
                }
                // 最后插入该行
                experiment_info_table.bootstrapTable('insertRow', {
                    index: index,
                    row: new_row
                });
            }
        });
    </script>
    <!--动态添加实验项目表格行 事件 结束-->

    <!--单项点击事件配置 开始-->
    <script>
        window.operateEvents = {
            // 点击对单项实验添加需求的事件
            'click .add_special_requirements': function (e, value, row, index) {
                global_current_special_requirements_row = eval('(' + JSON.stringify(row) + ')');
                $('#experiment_info_table').bootstrapTable('updateRow', row=global_current_special_requirements_row)
            },
        };
    </script>
    <!--单项点击事件配置 结束-->

    <!--为单个项目添加特殊需求 模态表格 开始-->
    <script>
        var special_requirements_table = $('#special_requirements_table');

        $(function() {
            $('#add_special_requirements_modal_table').on('shown.bs.modal', function () {
                // 下面这一串if-else是用来区分是否已经填过数据，并把填过的数据还原到模态表格显示
                if(global_current_special_requirements_row.special_consume_requirements){
                    console.log('单个项目添加特殊需求模态表格--获取到耗材需求数据：'+global_current_special_requirements_row.special_consume_requirements);
                    $('#special_consume_requirements').editable('setValue', global_current_special_requirements_row.special_consume_requirements);
                }else{
                    $('#special_consume_requirements').editable('setValue', null);
                }
                if(global_current_special_requirements_row.special_system_requirements){
                    console.log('单个项目添加特殊需求模态表格--获取到耗材需求数据：'+global_current_special_requirements_row.special_system_requirements);
                    $('#special_system_requirements').editable('setValue', global_current_special_requirements_row.special_system_requirements);
                }else{
                    $('#special_system_requirements').editable('setValue', null);
                }
                if(global_current_special_requirements_row.special_soft_requirements){
                    console.log('单个项目添加特殊需求模态表格--获取到耗材需求数据：'+global_current_special_requirements_row.special_soft_requirements);
                    $('#special_soft_requirements').editable('setValue', global_current_special_requirements_row.special_soft_requirements);
                }else{
                    $('#special_soft_requirements').editable('setValue', null);
                }
                special_requirements_table.bootstrapTable('resetView')
            })
        });

        // 点击确认提交特殊需求数据的按钮事件
        $('#set_special_requirements').click(function () {
            var special_consume_requirements = document.getElementById('special_consume_requirements').innerText;
            var special_system_requirements = document.getElementById('special_system_requirements').innerText;
            var special_soft_requirements = document.getElementById('special_soft_requirements').innerText;

            if(special_consume_requirements != empty_text){
                global_current_special_requirements_row.special_consume_requirements = special_consume_requirements;
                console.log(special_consume_requirements+' 不等于空文本 '+empty_text)
            }
            if(special_system_requirements != empty_text){
                global_current_special_requirements_row.special_system_requirements = special_system_requirements;
                console.log(special_system_requirements+' 不等于空文本 '+empty_text)
            }
            if(special_soft_requirements != empty_text){
                global_current_special_requirements_row.special_soft_requirements = special_soft_requirements;
                console.log(special_soft_requirements+' 不等于空文本 '+empty_text)
            }

            global_current_special_requirements_row = eval('(' + JSON.stringify(global_current_special_requirements_row) + ')');
            console.log('单个项目添加特殊需求模态表格--添加了特殊的需求后：'+ JSON.stringify(global_current_special_requirements_row));
            $('#experiment_info_table').bootstrapTable('updateRow', {
                index: global_current_special_requirements_row.id,
                row: global_current_special_requirements_row
            })
        })
    </script>
    <!--为单个项目添加特殊需求 模态表格 结束-->

    <!--整理所有信息并存储到session 开始-->
    <script>
        $('#submit').click(function () {
            var experiment_info_table_data = experiment_info_table.bootstrapTable('getData');
            var consume_requirements = check_empty(document.getElementById("consume_requirements").innerText);
            var system_requirements = check_empty(document.getElementById("system_requirements").innerText);
            var soft_requirements = check_empty(document.getElementById("soft_requirements").innerText);
            var teaching_materials = check_empty(document.getElementById("teaching_materials").innerText);

            function check_empty(x) {
                if(x == empty_text){
                    return ""
                }else{
                    return x
                }
            }

            var selected_course = $('#courses_select option:selected').text();
            var selected_course_id = "";

            if(selected_course == "--------"){
                selected_course = ""
            }else{
                selected_course_id = $('#courses_select option:selected').val()
            }

            var classes = document.getElementById("classes").innerText;

            var data_json = {
                {% if request.session.user_type == 'managers' %}
                    "department": $('#departments_select option:selected').text(),
                {% else %}
                    "department": document.getElementById("department").innerText,
                {% endif %}
                {% if request.session.user_type == 'managers' %}
                    "teacher_name": $('#teachers_select option:selected').text(),
                {% else %}
                    "teacher_name":document.getElementById("teacher_name").innerText,
                {% endif %}

                "course":selected_course,
                "course_id": selected_course_id,

                "classes":classes,

                "teaching_materials":teaching_materials,

                "consume_requirements":consume_requirements,
                "system_requirements":system_requirements,
                "soft_requirements":soft_requirements,

                "experiments": experiment_info_table_data,
            };

            console.log('整理所有信息后：'+data_json.toString());
            sessionStorage.setItem("course_and_its_experiments_json", JSON.stringify(data_json));
        });
    </script>
    <!--整理所有信息并存储到session 结束-->

    <!--提交时显示所有信息 模态表格 开始-->
    <script>
        var all_submit_info_table_course = $('#all_submit_info_table_course');
        var all_submit_info_table_experiments = $('#all_submit_info_table_experiments');
        $(function() {
            $('#all_info_after_submit_modal_table').on('shown.bs.modal', function () {
                // 首先清空原来的数据，我知道我这个方法不对，但我目前还找不出那个刷新的方法，很苦恼，暂时先这样
                all_submit_info_table_course.bootstrapTable('removeAll');
                all_submit_info_table_experiments.bootstrapTable('removeAll');

                var course_and_its_experiments_json = sessionStorage.getItem("course_and_its_experiments_json");
                course_and_its_experiments_json = JSON.parse(course_and_its_experiments_json)
                course_and_its_experiments_json = eval('(' + JSON.stringify(course_and_its_experiments_json) + ')');

                var course_submit_info_json = {
                    "after_submit_department":course_and_its_experiments_json.department,
                    "after_submit_teacher_name":course_and_its_experiments_json.teacher_name,
                    "after_submit_course":course_and_its_experiments_json.course,
                    "after_submit_classes":course_and_its_experiments_json.classes,
                    "after_submit_teaching_materials":course_and_its_experiments_json.teaching_materials,
                    "after_submit_consume_requirements":course_and_its_experiments_json.consume_requirements,
                    "after_submit_system_requirements":course_and_its_experiments_json.system_requirements,
                    "after_submit_soft_requirements":course_and_its_experiments_json.soft_requirements,
                };
                course_submit_info_json = eval('(' + JSON.stringify(course_submit_info_json) + ')');

                all_submit_info_table_course.bootstrapTable('insertRow', {
                    index: 0,
                    row: course_submit_info_json
                });

                var experiments = course_and_its_experiments_json.experiments;
                console.log('提交后显示所有信息模态表格--所有实验为：'+experiments);

                for(var i=0; i<experiments.length; i++){
                    var experiments_submit_info_json = {
                        "after_submit_id":experiments[i].id,
                        "after_submit_experiment_name":experiments[i].experiment_name,
                        "after_submit_experiment_type":experiments[i].experiment_type,
                        "after_submit_lecture_time":experiments[i].lecture_time,
                        "after_submit_which_week":experiments[i].which_week,
                        "after_submit_days_of_the_week":experiments[i].days_of_the_week,
                        "after_submit_section":experiments[i].section,
                        "after_submit_labs_of_institute":experiments[i].labs_of_institute,
                        "after_submit_lab_attributes":experiments[i].lab_attributes,
                        "after_submit_labs":experiments[i].labs,
                        "after_submit_special_consume_requirements":experiments[i].special_consume_requirements,
                        "after_submit_special_system_requirements":experiments[i].special_system_requirements,
                        "after_submit_special_soft_requirements":experiments[i].special_soft_requirements,
                    };

                    all_submit_info_table_experiments.bootstrapTable('insertRow', {
                        index: i,
                        row: experiments_submit_info_json
                    });
                }

                all_submit_info_table_course.bootstrapTable('resetView');
                all_submit_info_table_experiments.bootstrapTable('resetView')
            })
        });

        // 真正提交按钮点击
        $('#submit_all_items').click(function(){
            var course_and_its_experiments_json = sessionStorage.getItem("course_and_its_experiments_json");
            course_and_its_experiments_json = JSON.parse(course_and_its_experiments_json);
            {#course_and_its_experiments_json = eval('(' + JSON.stringify(course_and_its_experiments_json) + ')');#}

            var experiments = course_and_its_experiments_json['experiments'];
            if(experiments.length !== 0){
                var pass = true;
                $.each(experiments, function (index, value) {
                    console.log(index, value);
                    if(value['id'] === ""){
                        pass = false;
                        window.alert('提交失败，实验'+index+'的编号不可以为空');
                    }
                    if(value['experiment_name'] === ""){
                        pass = false;
                        add_tip('experiment_info_table', index, 2);
                    }
                    if(value['section'] === ""){
                        pass = false;
                        add_tip('experiment_info_table', index, 7);
                    }
                });
                if(pass){
                    $.ajax({
                        cache:true,//保留缓存数据
                        type:"POST",
                        url:"{% url 'manage:apply' %}",
                        data:JSON.stringify(course_and_its_experiments_json),
                        dataType:'JSON',
                        headers:{'X-CSRFToken':'{{ csrf_token }}'},
                        error:function(request){
                            console.log("无法提交?", request);
                        },
                        success:function(data){
                            console.log("已提交", data);
                            if(data.status){
                                console.log('提交成功！');
                                window.location.href="{% url 'manage:application_manage' %}"
                            }else{
                                console.log('处理失败：'+data.message)
                            }
                        }
                    });
                }
            }else{
                window.alert('提交失败，实验项目不能为空！')
            }
        })
    </script>
    <!--提交时显示所有信息 模态表格 结束-->
{% endblock %}