<!--manage/application_details.html-->

{% extends 'manage/base.html' %}
{% block add_css_to_manage %}
    <!--多项选择的css依赖-->
    <link href="/static/css_js/css/plugins/select2/select2.min.css" rel="stylesheet" type="text/css">
    <link href="/static/css_js/css/plugins/select2/select2-bootstrap.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block manage_body %}
    <div class="ibox float-e-margins">
        <div class="ibox-title row">
            <h5>实验申请表管理 </h5> / 课程《{{ course.course_name }}》-- 实验申请表
        </div>
        <div class="ibox-content">
            <table id="course_table"
                   class="table-hover table-responsive"
                   data-toggle="table"
                   data-minimum-count-columns="2"
                   data-id-field="id">
                <thead><tr>
                    <th data-field="term">学年学期</th>
                    <th data-field="course">课程</th>
                    <th data-field="teachers">教师</th>
                    <th data-field="classes">教学班级</th>
                    <th data-field="teaching_materials">实验教材</th>
                    <th data-field="hide_total_requirements_id"></th>
                    <th data-field="hide_teaching_materials"></th>
                    <th data-field="total_consume_requirements">总体耗材需求</th>
                    <th data-field="hide_total_consume_requirements"></th>
                    <th data-field="total_system_requirements">总体系统需求</th>
                    <th data-field="hide_total_system_requirements"></th>
                    <th data-field="total_soft_requirements">总体软件需求</th>
                    <th data-field="hide_total_soft_requirements"></th>
                    <th data-field="modify_time">修改时间</th>
                    <th data-field="status">状态</th>
                </tr></thead>
                <tbody>
                <tr>
                    <td>{{ course.term }}</td>
                    <td>{{ course.course_name }}</td>
                    <td>{{ course.teachers| safe }}</td>
                    <td>{{ course.classes | safe}}</td>
                    <td><a id="teaching_materials" data-type="textarea"></a></td>
                    <td>{{ course.total_requirements.id }}</td>
                    <td>{{ course.total_requirements.teaching_materials }}</td>
                    <td><a id="total_consume_requirements" data-type="textarea"></a></td>
                    <td>{{ course.total_requirements.total_consume_requirements }}</td>
                    <td><a id="total_system_requirements" data-type="textarea"></a></td>
                    <td>{{ course.total_requirements.total_system_requirements }}</td>
                    <td><a id="total_soft_requirements" data-type="textarea"></a></td>
                    <td>{{ course.total_requirements.total_soft_requirements }}</td>
                    <td>{{ course.modify_time }}</td>
                    <td>{{ course.status }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>实验项目申请表</h5>
            <div class="ibox-tools">
                <button id="add_experiment_button" class="btn btn-primary">添加实验项目</button>
                <button id="remove_experiment_button" class="btn btn-danger" disabled>批量删除</button>
                <a class="collapse-link">
                    <i class="fa fa-chevron-up"></i>
                </a>
            </div>
        </div>
        <div class="ibox-content">
            <table id="experiments_table"
                   data-id-field="id"
                   data-side-pagination="server"
                   data-click-to-select="true">
            </table>
            <div class="row">
                <div class="col-md-6">
                    <div align="left">
                        <br>
                        <a href="#" onClick="history.back(-1);">
                            <button id="back" class="btn btn-primary" title="返回上一页">
                                返回上一页
                            </button>
                        </a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div align="right">
                        <br>
                        {% if superuser %}
                            <td>
                                <button id="pass_button" class="btn btn-primary">通过</button>
                                <button id="not_pass_button" class="btn btn-primary">不通过</button>
                            </td>
                        {% endif %}
                        <button id="remove_all_experiments" class="btn btn-primary" title="取消所有实验">取消所有实验</button>
                        <button id="submit" class="btn btn-primary" title="申请修改">确认修改</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

<!--子html文件用这个填充块添加js样式-->
{% block add_js_to_manage %}
    <script src="/static/css_js/js/plugins/select2/select2.full.min.js"></script>
    <!--全局的参数或函数-->
    <script>
        var experiment_url = "{% url 'manage:experiments' course.course_id %}";
    </script>

    <script>
        {#        {% if superuser %}#}
        {#            $.fn.editable.defaults.disabled = true;#}
        {#            $('#remove_experiment_button').prop('disabled', true);#}
        {#            $('#add_experiment_button').prop('disabled', true);#}
        {#            $('#remove_all_experiments').prop('disabled', true);#}
        {#            $('#submit').prop('disabled', true);#}
        {#        {% endif %}#}
    </script>


    <!--实验对应课程可修改信息的配置 开始-->
    <script>
        $(document).ready(function() {
            var course_table = $('#course_table');
            course_table.bootstrapTable('hideColumn', 'hide_total_requirements_id');
            course_table.bootstrapTable('hideColumn', 'hide_teaching_materials');
            course_table.bootstrapTable('hideColumn', 'hide_total_consume_requirements');
            course_table.bootstrapTable('hideColumn', 'hide_total_system_requirements');
            course_table.bootstrapTable('hideColumn', 'hide_total_soft_requirements');

            $('#teaching_materials').editable({
                placeholder: "一般为书籍或视频",
                value: {% if course.total_requirements.teaching_materials %}'{{ course.total_requirements.teaching_materials }}'{% else %}""{% endif %},
                rows:5,
                mode:"popup",
            });
            $('#total_consume_requirements').editable({
                placeholder: '如：电子试验箱',
                value: {% if course.total_requirements.total_consume_requirements %}'{{ course.total_requirements.total_consume_requirements }}'{% else %}""{% endif %},
                rows:5,
                mode:"popup",
            });
            $('#total_system_requirements').editable({
                placeholder: '如：windows10',
                value: {% if course.total_requirements.total_system_requirements %}'{{ course.total_requirements.total_system_requirements }}'{% else %}""{% endif %},
                rows:5,
                mode:"popup",
            });
            $('#total_soft_requirements').editable({
                placeholder: '如：pycharm专业版',
                value: {% if course.total_requirements.total_soft_requirements %}'{{ course.total_requirements.total_soft_requirements }}'{% else %}""{% endif %},
                rows:5,
                mode:"popup",
            });


            $('#pass_button').click(function () {
                var url = "{% url 'manage:application_check' 'course_id' '3' %}";
                url = url.replace('course_id', '{{ course.course_id }}');
                window.location.href=url;
            });
            $('#not_pass_button').click(function () {
                var url = "{% url 'manage:application_check' 'course_id' '2' %}";
                url = url.replace('course_id', '{{ course.course_id }}');
                window.location.href=url;
            });
        })
    </script>
    <!--实验对应课程可修改信息的配置 结束-->

    <!--实验项目表 配置开始-->
    <script>
        var experiments_table = $('#experiments_table');
        var remove_experiment_button = $('#remove_experiment_button');

        function initTable() {
            experiments_table.bootstrapTable('destroy').bootstrapTable({
                columns: [
                    [{
                        field: 'state',
                        checkbox: true,
                    }, {
                        title: '编号<span class="need">*</span>',
                        field: 'id',
                    }, {
                        field: 'experiment_name',
                        title: '项目名称<span class="need">*</span>',
                        editable:{
                            type:'text',
                        },
                    }, {
                        field: 'experiment_type',
                        title: '类型<span class="need">*</span>',
                        editable:{
                            type:'select',
                            source: [
                                {% for x in experiments_type %}
                                    { value: {{ x.id }}, text: '{{ x.name }}'},
                                {% empty %}
                                    { value:"", text: not_found_data},
                                {% endfor %}
                            ]
                        }
                    }, {
                        field: 'lecture_time',
                        title: '学时<span class="need">*</span>',
                        editable:{
                            type:'select',
                            source: [
                                {% for x in lecture_time %}
                                    { value: {{ x }}, text: {{ x }}},
                                {% empty %}
                                    { value:"", text: not_found_data},
                                {% endfor %}
                            ]
                        }
                    }, {
                        field: 'which_week',
                        title: '周次<span class="need">*</span>',
                        editable:{
                            type:'select',
                            source: [
                                {% for x in which_week %}
                                    { value: {{ x }}, text: {{ x }}},
                                {% empty %}
                                    { value:"", text: not_found_data},
                                {% endfor %}
                            ]
                        }
                    }, {
                        field: 'days_of_the_week',
                        title: '星期<span class="need">*</span>',
                        editable:{
                            type:'select',
                            source: [
                                {% for x in days_of_the_week %}
                                    { value: {{ x }}, text: {{ x }}},
                                {% empty %}
                                    { value:"", text: not_found_data},
                                {% endfor %}
                            ]
                        }
                    }, {
                        field: 'section',
                        title: '节次<span class="need">*</span>',
                        editable:{
                            type:'select2',
                            source: [
                                {% for x in section %}
                                    { value: {{ x }}, text: {{ x }}},
                                {% empty %}
                                    { value:"", text: not_found_data},
                                {% endfor %}
                            ],
                            select2 : {
                                multiple : true,
                                width : '100px'//设置宽，这个一定要，不然显示框很窄
                            }
                        }
                    }, {
                        field: 'labs',
                        title: '实验室',
                        editable:{
                            type:'select2',
                            source: [
                                {% for x in all_labs %}
                                    {value: {{ x.id }}, text: '{{ x.name }}' },
                                {% empty %}
                                    {value:"", text: not_found_data}
                                {% endfor %}
                            ],
                            select2 : {
                                // allowClear : true,
                                multiple : true,
                                // tokenSeparators : [",", " "],
                                width : '100px'//设置宽，这个一定要，不然显示框很窄
                            }
                        }
                    }, {
                        title: '特殊耗材需求',
                        field: 'special_consume_requirements',
                        editable:{
                            type:'text',
                        }
                    }, {
                        title: '特殊系统需求',
                        field: 'special_system_requirements',
                        editable:{
                            type:'text',
                        }
                    }, {
                        title: '特殊软件需求',
                        field: 'special_soft_requirements',
                        editable:{
                            type:'text',
                        }
                    }, {
                        field: 'hide_experiment_name',
                    }, {
                        field: 'hide_experiment_type',
                    }, {
                        field: 'hide_lecture_time',
                    }, {
                        field: 'hide_which_week',
                    }, {
                        field: 'hide_days_of_the_week',
                    }, {
                        field: 'hide_section',
                    }, {
                        field: 'hide_labs',
                    }, {
                        field: 'hide_special_consume_requirements',
                    }, {
                        field: 'hide_special_system_requirements',
                    }, {
                        field: 'hide_special_soft_requirements',
                    }, {
                        field: 'id_in_database',
                    }, ]
                ]
            });
            // 隐藏一些id和名称隐藏列
            experiments_table.bootstrapTable('hideColumn', 'hide_experiment_name');
            experiments_table.bootstrapTable('hideColumn', 'hide_experiment_type');
            experiments_table.bootstrapTable('hideColumn', 'hide_lecture_time');
            experiments_table.bootstrapTable('hideColumn', 'hide_which_week');
            experiments_table.bootstrapTable('hideColumn', 'hide_days_of_the_week');
            experiments_table.bootstrapTable('hideColumn', 'hide_section');
            experiments_table.bootstrapTable('hideColumn', 'hide_labs');
            experiments_table.bootstrapTable('hideColumn', 'hide_special_consume_requirements');
            experiments_table.bootstrapTable('hideColumn', 'hide_special_system_requirements');
            experiments_table.bootstrapTable('hideColumn', 'hide_special_soft_requirements');
            set_a_table(experiments_table, remove_experiment_button, '实验项目');
        }

        function loadExperiments(){
            {% for e in experiments %}
                var new_row = {
                    "id": {{ e.experiment.no }},
                    "experiment_name": '{{ e.experiment.name }}',
                    "hide_experiment_name": '{{ e.experiment.name }}',
                    "experiment_type": '{{ e.experiment.experiment_type.id }}',
                    "hide_experiment_type": '{{ e.experiment.experiment_type.id }}',
                    "lecture_time": '{{ e.experiment.lecture_time }}',
                    "hide_lecture_time": '{{ e.experiment.lecture_time }}',
                    "which_week": '{{ e.experiment.which_week }}',
                    "hide_which_week": '{{ e.experiment.which_week }}',
                    "days_of_the_week": '{{ e.experiment.days_of_the_week }}',
                    "hide_days_of_the_week": '{{ e.experiment.days_of_the_week }}',
                    "section": '{{ e.experiment.section }}',
                    "hide_section": '{{ e.experiment.section }}',
                    "labs": '{{ e.lab_ids }}',
                    "hide_labs": '{{ e.lab_ids }}',
                    {#"labs": "1",    //要传id，字符串类型的id，而不要直接传下拉列表里的text值#}
                    "special_consume_requirements": {% if e.special_requirements.special_consume_requirements %}'{{ e.special_requirements.special_consume_requirements }}'{% else %}""{% endif %},
                    "hide_special_consume_requirements": {% if e.special_requirements.special_consume_requirements %}'{{ e.special_requirements.special_consume_requirements }}'{% else %}""{% endif %},
                    "special_system_requirements": {% if e.special_requirements.special_system_requirements %}'{{ e.special_requirements.special_system_requirements }}'{% else %}""{% endif %},
                    "hide_special_system_requirements": {% if e.special_requirements.special_system_requirements %}'{{ e.special_requirements.special_system_requirements }}'{% else %}""{% endif %},
                    "special_soft_requirements": {% if e.special_requirements.special_soft_requirements %}'{{ e.special_requirements.special_soft_requirements }}'{% else %}""{% endif %},
                    "hide_special_soft_requirements": {% if e.special_requirements.special_soft_requirements %}'{{ e.special_requirements.special_soft_requirements }}'{% else %}""{% endif %},
                    "id_in_database": '{{ e.experiment.id }}',
                };
                // 插入该行
                experiments_table.bootstrapTable('insertRow', {
                    index: Number({{ e.experiment.no }}),
                    row: new_row
                });
            {% endfor %}
        }

        $(function() {
            initTable();
            loadExperiments();
            $('#locale').change(initTable);
        })
    </script>
    <!--实验项目表 配置结束-->

    <!--动态添加实验项目表格行 事件 开始-->
    <script>
        $("#add_experiment_button").click(function () {
            // 用index实现编号自增
            var data = experiments_table.bootstrapTable('getData');
            console.log('获取当前实验项目数据：', data);
            var index = data.length;
            var new_row = {
                "id":index,
                "experiment_name":"",
                "experiment_type": data[index-1]['experiment_type'],
                "lecture_time": data[index-1]['lecture_time'],
                "which_week": Number(data[index-1]['which_week']) + 1,
                "days_of_the_week": data[index-1]['days_of_the_week'],
                "section": data[index-1]['section'],
                "labs": data[index-1]['labs'],
                "special_consume_requirements":"",
                "special_system_requirements":"",
                "special_soft_requirements":""
            };
            // 最后插入该行
            experiments_table.bootstrapTable('insertRow', {
                index: index,
                row: new_row
            });
        });
    </script>
    <!--动态添加实验项目表格行 事件 结束-->

    <!--整理所有信息提交 开始-->
    <script>
        $('#remove_all_experiments').click(function () {
            var remove_flag = confirm('删除该课程的所有实验项目后,可以在申请页面再次申请，确认删除吗？');

            if(remove_flag){
                $.ajax({
                    type:"DELETE",
                    url:"{% url 'manage:experiments' course.course_id %}",
                    headers:{'X-CSRFToken':'{{ csrf_token }}'},
                    error:function(request){
                        console.log("无法提交", request);
                    },
                    success:function(data){
                        console.log("已提交", data);
                        if(data.status){
                            console.log('删除成功！');
                            window.location.href="{% url 'manage:application_manage' %}"
                        }else{
                            alert('出了点小错误，请稍后再次尝试删除'+data.message);
                        }
                    }
                });
            }
        });

        $('#submit').click(function () {
            var course_table_data_0 = $('#course_table').bootstrapTable('getData')[0];
            var course_id = '{{ course.course_id }}';
            var t_r_name_list = ['teaching_materials', 'total_consume_requirements', 'total_system_requirements', 'total_soft_requirements'];

            console.log('课程id：', course_id, ' 第一行数据：', course_table_data_0);

            var t_r_change = false;
            for(var i=0; i<t_r_name_list.length; i++){
                if(course_table_data_0[t_r_name_list[i]] !== course_table_data_0['hide_'+t_r_name_list[i]]){
                    t_r_change = true;
                    break;
                }
            }

            // 处理总体需求信息
            if(!t_r_change){
                console.log('总体需求没有变化，不需变动');
            }else {
                var total_requirements_id = course_table_data_0['hide_total_requirements_id'];
                console.log('total_requirements_id：', total_requirements_id);

                function delete_total_requirements() {
                    var t_r_need_delete = true;
                    for(var i=0; i<t_r_name_list.length; i++){
                        if($('#'+t_r_name_list[i]).text() !== "" && $('#'+t_r_name_list[i]).text() !== empty_text){
                            t_r_need_delete = false;
                        }
                    }
                    if(t_r_need_delete){
                        console.log('删除总体需求');
                        common_ajax('{% url "manage:total_requirements" course.course_id %}', 'DELETE', [total_requirements_id,]);
                        return true;
                    }else{
                        return false;
                    }
                }

                if (total_requirements_id) {
                    console.log('该课程原来就有总体需求，所以现在只需判断修改或删除即可');

                    if(!delete_total_requirements()){
                        var total_requirements_put_data = {};
                        t_r_change = false;
                        for(var i=0; i<t_r_name_list.length; i++){
                            if($('#'+t_r_name_list[i]).text() !== course_table_data_0['hide_'+t_r_name_list[i]]){
                                if($('#'+t_r_name_list[i]).text() === empty_text && course_table_data_0['hide_'+t_r_name_list[i]] === ''){
                                    console.log('其实需求是空的，只是有个empty_text而已');
                                }else {
                                    if($('#'+t_r_name_list[i]).text() === empty_text){
                                        total_requirements_put_data[t_r_name_list[i]] = '';
                                    }else {
                                        total_requirements_put_data[t_r_name_list[i]] = $('#' + t_r_name_list[i]).text();
                                    }
                                    t_r_change = true;
                                }
                            }
                        }
                        if(t_r_change){
                            total_requirements_put_data['id'] = total_requirements_id;
                            console.log('修改总体需求数据：', total_requirements_put_data);
                            common_ajax('{% url "manage:total_requirements" course.course_id %}', 'PUT', [total_requirements_put_data,]);
                        }else{
                            console.log('不需修改总体需求')
                        }
                    }
                } else {
                    console.log('该课程原来没有总体需求，所以现在只需判断新增或不做操作即可');

                    if(!delete_total_requirements()){
                        var total_requirements_post_data = {};
                        t_r_change = false;
                        for(var i=0; i<t_r_name_list.length; i++){
                            if($('#'+t_r_name_list[i]).text() !== empty_text) {
                                total_requirements_post_data[t_r_name_list[i]] = $('#'+t_r_name_list[i]).text();
                                t_r_change = true;
                            }
                        }
                        if(t_r_change){
                            console.log('创建总体需求数据：', total_requirements_post_data);
                            common_ajax('{% url "manage:total_requirements" course.course_id %}', 'POST', [total_requirements_post_data,]);
                        }else{
                            console.log('不需创建总体需求');
                        }
                    }
                }
            }
            /*
            * 上面那部分是处理总体需求的，下面是实验项目处理的开始
            * */
            var experiments_table_data = experiments_table.bootstrapTable('getData');
            var pass = true;

            $('.not_null').remove();	 // 清除掉以前的错误信息

            $.each(experiments_table_data, function (index, value) {
                var need_name_list = ['experiment_name', 'experiment_type', 'lecture_time', 'which_week', 'days_of_the_week', 'section'];
                for(var i=0; i<need_name_list.length; i++){
                    if(value[need_name_list[i]] === empty_text || value[need_name_list[i]] == ""){
                        pass = false;
                        add_tip('experiments_table', index, i+2)
                    }
                }
            });
            if(pass){
                var experiment_put_data = [];
                var experiment_post_data = [];
                var e_name_list = ['experiment_name', 'experiment_type', 'lecture_time', 'which_week',
                    'days_of_the_week', 'section', 'labs', 'special_consume_requirements',
                    'special_system_requirements', 'special_soft_requirements'];
                var model_e_name_list = ['name', 'experiment_type_id', 'lecture_time', 'which_week',
                    'days_of_the_week', 'section', 'labs', 'special_consume_requirements',
                    'special_system_requirements', 'special_soft_requirements'];
                // console.log('experiments_table_data有什么：', experiments_table_data);
                for(var i = 0; i < experiments_table_data.length; i++){
                    console.log('实验项目', '-通过数据行是否有数据库id来作为新旧数据的依据， 序号：', i, '行的数据库id：', experiments_table_data[i]['id_in_database']);

                    if(experiments_table_data[i]['id_in_database']){
                        // 数据有修改才需要put提交
                        var temp = {};
                        var change = false;

                        for(var j=0; j<e_name_list.length; j++){
                            if(experiments_table_data[i]['hide_'+e_name_list[j]] !== experiments_table_data[i][e_name_list[j]]){
                                temp[model_e_name_list[j]] = experiments_table_data[i][e_name_list[j]];
                                change = true;
                            }
                        }
                        if(change) {
                            temp['id'] = experiments_table_data[i]['id_in_database'];
                            // temp['no'] = experiments_table_data[i]['id'];
                            experiment_put_data.push(temp);
                        }
                    }else{
                        var temp = {};
                        for(var j=0; j<e_name_list.length; j++){
                            temp[model_e_name_list[j]] = experiments_table_data[i][e_name_list[j]];
                        }
                        temp['no'] = experiments_table_data[i]['id'];
                        experiment_post_data.push(temp)
                    }
                }
                if(experiment_put_data.length > 0){
                    console.log('实验项目', '-存在修改数据：', experiment_put_data);
                    common_ajax(experiment_url, 'PUT', experiment_put_data);
                }
                if(experiment_post_data.length > 0){
                    console.log('实验项目', '-存在新增数据：', experiment_post_data);
                    common_ajax(experiment_url, 'POST', experiment_post_data);
                }
                if(delete_ids_in_database.length > 0){
                    console.log('实验项目', '-删除的ids：', delete_ids_in_database);
                    common_ajax("{% url 'manage:experiments' '-1' %}", 'DELETE', delete_ids_in_database);
                }
            }
        });
    </script>
    <!--整理所有信息提交 结束-->
{% endblock %}
