<!--manage/arrange.html-->

{% extends 'manage/base.html' %}

{% block add_css_to_manage %}
    <!--固定列表头所需的样式依赖-->
    <link rel="stylesheet" href="/static/css_js/css/fixed-columns/bootstrap-table-fixed-columns.css">
    <style>
        .course_div{
            background: #E5FFE5;
            margin: 5% 10% 5%;
            padding: 5%;
        }
    </style>
{% endblock %}

{% block manage_body %}
    {% if conflict_courses %}
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>冲突信息表<span class="need">（下面是通过智能编排无法解决的冲突）</span> </h5>
                <div class="ibox-tools">
                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </div>
            </div>
            <div class="ibox-content">
                <div class="table-responsive">
                    <table id="conflict_info_table"
                           data-toggle="table"
                           class="table">
                        <thead><tr>
                            <th>序号</th>
                            <th>所有周次</th>
                            <th>星期</th>
                            <th>节次</th>
                            <th>课程</th>
                            <th>授课班级</th>
                            <th>可用实验室</th>
                            <th>操作</th>
                        </tr></thead>
                        <tbody>
                        {% for course in conflict_courses %}
                            <tr>
                                <td>{{ course.no }}</td>
                                <td>{{ course.weeks }}</td>
                                <td>{{ course.days_of_the_week }}</td>
                                <td>{{ course.section }}</td>
                                <td id="{{ course.course.id }}">{{ course.course }}</td>
                                <td>
                                    {% for classes_item in course.classes %}
                                        {{ classes_item.grade__name }}级{{ classes_item.grade__department__name }}{{ classes_item.name }}班<br>
                                    {% endfor %}
                                </td>
                                <td>
                                    <select multiple="multiple" class="form-control">
                                        {% for lab in course.free_labs %}
                                            <option id={{ lab.id }} value={{ lab.id }}>{{ lab }}</option>
                                        {% empty %}
                                            没有空闲的实验室了
                                        {% endfor %}
                                    </select>
                                </td>
                                <td><button class="btn btn-primary btn-xs" onclick="save(this)">保存修改</button></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    {% endif %}

    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>排课结果</h5>
            <div class="ibox-tools">
                <button onclick="re_arrange(this)" class="btn btn-primary">重新智能排课</button>
                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </div>
        </div>
        <div class="ibox-content">
            <div class="table-responsive">
                <table class="table table-bordered table-hover" id="week_schedule_table"
                       data-toggle="table"
                       data-classes="table table-hover"
                       data-striped="true"
                       align="center"
                        {#               data-show-columns="true"#}
                        {#               data-show-toggle="true"#}
                        {#               data-search="true"#}
                        {#               data-show-refresh="true"#}
                        {#               data-toolbar="#toolbar"#}>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block add_js_to_manage %}
    <!--固定列的js-->
    <script src="/static/css_js/js/fixed-columns/bootstrap-table-fixed-columns.js"></script>
    <!--固定列的设置-->
    <script>
        $(function () {
            $('#week_schedule_table').bootstrapTable('destroy').bootstrapTable({
                minimumCountColumns:4,
                fixedColumns:true,
                fixedNumber:2,
            });
        })
    </script>

    <!--保存按钮点击-->
    <script>
        var from_url = '{% url "manage:arrange" %}';

        function save(save_button){
            var course_id = save_button.parentNode.parentNode.cells[4].getAttribute("id");
            console.log('冲突行的课程id：', course_id);

            var the_selector = save_button.parentNode.parentNode.cells[6].children;
            {#console.log(the_selector);#}
            {#console.log(the_selector[0]);#}

            selected_labs_id = [];
            if(the_selector[0].selectedOptions.length < 1){
                alert('请选择实验室');
            }else{
                for(var i=0; i < the_selector[0].selectedOptions.length; i++){
                    selected_labs_id.push(the_selector[0].selectedOptions[i].value);
                }
                console.log('选中的实验室id为：', selected_labs_id);
                var data = {
                    "course_id":course_id,
                    "selected_labs_id":selected_labs_id
                };
                var to_url = '{% url "manage:adjust_labs_for_schedule" %}';
                base_ajax(from_url, to_url, data)
            }
        }

        function re_arrange(re_arrange_button) {
            var pass = confirm('确定要重新智能排课吗？');
            if(pass){
                var to_url = '{% url "manage:re_arrange" %}';
                base_ajax(from_url, to_url, {})
            }
        }
    </script>


    <!--初始化表格和合并单元格-->
    <script>
        var rowCount = null; //   全局的行数
        var colCount = null; //   全局的列数

        function initTable() {
            $('#week_schedule_table').bootstrapTable('destroy').bootstrapTable({
                sidePagination: "server",
                url: '{% url "manage:schedule" school.id %}',
                height: 600,
                locale: $('#locale').val(),
                onLoadSuccess: function (data) {
                    uniteTable('week_schedule_table');
                },
                columns: [
                    {
                        field: 'days_of_the_week',
                        title: '星期',
                    }, {
                        field: 'section',
                        title: '节次',
                    },
                    {% for lab in labs %}
                        {
                            field: '{{ lab.name }}',
                            title: '{{ lab.name }}',
                        },
                    {% endfor %}
                ],
            });
        }


        //动态合并单元格
        function uniteTable(tableId) {//表格ID，表格列数
            var tb=document.getElementById(tableId);
            tb.style.display='';
            var i = 0;
            var j = 0;
            rowCount = tb.rows.length; //   行数
            colCount = tb.rows[0].cells.length; //   列数

            console.log('行列数:', rowCount, colCount);

            var obj1 = null;
            var obj2 = null;
            //为每个单元格命名，包括表头
            for (i = 0; i < rowCount; i++) {
                for (j = 0; j < colCount; j++) {
                    tb.rows[i].cells[j].id = "tb__" + i.toString() + "_" + j.toString();
                    // console.log(tb.rows[i].cells[j], tb.rows[i].cells[j].id);
                }
            }

            //合并列，在本程序，应该先做行方向上的合并，因为课程往往是有多个实验室，而在一周的一串节次内，基本都是合并后的一整个大单元格
            for (i = 1; i < rowCount; i++) {    // i作为行标
                // 不能这样用：obj1 = document.getElementById(tb.rows[i].cells[2].id);
                obj1 = document.getElementById("tb__"+i.toString()+"_2");   // 从每一行的第3列开始取单元格对象元素，因为星期和节次不需要做列合并
                {#console.log('合并列，目前行和obj1：', i, obj1);#}

                for (j = 3; j < colCount; j++) {    // 从第4列开始取每一行的单元格作为下一个判断对象
                    if(document.getElementById("tb__"+i.toString()+"_"+j.toString())){
                        {#console.log('存在obj2：',document.getElementById("tb__"+i.toString()+"_"+j.toString()));#}

                        {#console.log('现在的obj1和obj2分别为：', obj1, obj2, '处于第', i, '行，第', j, '列');#}

                        obj2 = document.getElementById("tb__"+i.toString()+"_"+j.toString());
                        if (obj1.innerText === obj2.innerText && (obj2.innerText !== "")) {
                            obj1.colSpan++;
                            {#console.log('删除第', i, '行，第', j, '列的元素');#}
                            obj2.parentNode.removeChild(obj2);
                        } else {
                            obj1 = obj2;
                        }
                    }else{
                        {#console.log('不存在第', i, '行，第', j, '列的元素');#}
                    }
                }
            }

            //合并行
            for (i = 0; i < colCount; i++) {    // i作为列标
                if(i !== 1) {   // i==1时，是节次那一列，这列不用合并

                    // 由于前面已经处理了列的合并，有一些列的开头是没有单元格了的，所以要经过一轮当前列的循环找到第一个非空的单元格
                    var k = 1;  // 从第二行开始，也就是表体开始，因为第一行是表头
                    for(k; k < rowCount; k++){
                        if(document.getElementById("tb__"+ k.toString()+ "_" + i.toString())) {
                            obj1 = document.getElementById("tb__"+ k.toString()+ "_" + i.toString());
                            break;
                        }
                    }
                    if(obj1){
                        for (j=k+1; j < rowCount; j++) {    // 这里的j是用来取obj2的，所以要+1
                            if (document.getElementById("tb__" + j.toString() + "_" + i.toString())) {
                                obj2 = document.getElementById("tb__" + j.toString() + "_" + i.toString());

                                {#console.log('现在的obj1和obj2分别为：', obj1, obj2, '处于第', j, '行，第', i, '列');#}

                                if (obj1.innerText === obj2.innerText && (obj2.innerText !== "")) {
                                    if(obj1.getAttribute("colspan") === obj2.getAttribute("colspan")) {
                                        {#console.log('obj1和obj2的跨列数：', obj1.colspan,obj2.colspan);#}
                                        obj1.rowSpan++;
                                        {#console.log('删除第', j, '行，第', i, '列的元素');#}
                                        obj2.parentNode.removeChild(obj2);
                                    }
                                } else {
                                    obj1 = document.getElementById("tb__" + j.toString() + "_" + i.toString());
                                }
                            } else {
                                {#console.log('不存在第', j, '行，第', i, '列的元素');#}
                            }
                        }
                    }
                }
            }
        }

        $(function() {
            initTable();
            $('#locale').change(initTable);
        })
    </script>
{% endblock %}
