<!--manage/arrange.html-->

{% extends 'manage/base.html' %}

{% block add_css_to_manage %}
    <!--固定列表头所需的样式依赖-->
    <link rel="stylesheet" href="/static/css_js/css/fixed-columns/bootstrap-table-fixed-columns.css">
    <!--多项选择的css依赖-->
    <link href="/static/css_js/css/plugins/select2/select2.min.css" rel="stylesheet" type="text/css">
    <link href="/static/css_js/css/plugins/select2/select2-bootstrap.css" rel="stylesheet" type="text/css">
    <style>
        .course_div, .need_adjust_div{
            font-weight: bold;
            color: rgb(57,50,44);
            padding: 2%;
            margin: 5px;
        }

        .color1_div{ background:rgb(235,175,121);}
        .color2_div{ background:rgb(96,109,128);}
        .color3_div{ background:rgb(155,168,183);}
        .color4_div{ background:rgb(165,156,173);}
        .color5_div{ background:rgb(208,197,184);}
        .color6_div{ background:rgb(181,139,114);}
        .color7_div{ background:rgb(224,208,175);}
        .color8_div{ background:rgb(164,154,129);}
        .color9_div{ background:rgb(183,157,155);}
        .color10_div{ background:rgb(237,181,165);}
        .color11_div{ background:rgb(222,234,234);}
        .color12_div{ background:rgb(243,233,201);}
        .color13_div{ background:rgb(208,208,226);}

        .need_adjust_div{
        {#background: #d8afaf;#}
            border: 3px solid #ff0000;
        }
    </style>
{% endblock %}

{% block manage_body %}
    <div class="form-inline" style="margin-left: 15px; margin-bottom: 10px">
        <label for="institutes">选择排课学院：</label>
        <select name="institutes" class="form-control" id="institutes" style="margin-right: 40px;margin-bottom: 5px;">
            {% for institute in institutes %}
                {% if institute.id|urlencode:"" == request.session.current_institute_id %}
                    <option value="{{ institute.id }}" selected>{{ institute.name }}</option>
                {% else %}
                    <option value="{{ institute.id }}">{{ institute.name }}</option>
                {% endif %}
            {% empty %}
                <option>暂无数据</option>
            {% endfor %}
        </select>

        <div class="pull-right" style="margin-bottom: 5px;margin-right: 15px;">
            <label for="attribute1">最优先排课属性：</label>
            <select name="attribute1" class="form-control" id="attribute1" style="margin-right: 20px;">
                {% for attribute in attributes %}
                    {% if attribute.id|urlencode:"" == request.session.current_attribute1_id|urlencode:"" %}
                        <option value="{{ attribute.id }}" selected>{{ attribute.name }}</option>
                    {% else %}
                        <option value="{{ attribute.id }}">{{ attribute.name }}</option>
                    {% endif %}
                {% empty %}
                    <option>暂无数据</option>
                {% endfor %}
            </select>

            <label for="attribute2">次优先排课属性：</label>
            <select name="attribute2" class="form-control" id="attribute2" style="margin-right: 20px;">
                {% for attribute in attributes %}
                    {% if attribute.id|urlencode:"" == request.session.current_attribute2_id|urlencode:"" %}
                        <option value="{{ attribute.id }}" selected>{{ attribute.name }}</option>
                    {% else %}
                        <option value="{{ attribute.id }}">{{ attribute.name }}</option>
                    {% endif %}
                {% empty %}
                    <option>暂无数据</option>
                {% endfor %}
            </select>

            <button onclick="arrange(this, 0)" class="btn btn-primary" title="在当前已排好课程的基础上对新课程或冲突课程进行排课，已排好的课程不受影响" style="margin-right: 40px;">在当前排课基础上按属性智能排课</button>
            <button onclick="arrange(this, 1)" class="btn btn-outline btn-danger" title="忽略现有排课结果，重新排课">按属性重新智能排课</button>
        </div>
    </div>
    {% if need_adjust_course_blocks %}
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>需要人工调整的课程信息表<span class="need">（下面是通过智能编排无法解决的冲突，冲突课程已在课程表中用红色方框标记出来）</span> </h5>
                <div class="ibox-tools">
                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </div>
            </div>
            <div class="ibox-content">
                <div class="table-responsive">
                    <table id="need_adjust_table"
                           data-id-field="id"
                           data-side-pagination="server"
                           data-response-handler="responseHandler">
                    </table>
                </div>
            </div>
        </div>
    {% endif %}

    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>课程表</h5>
            <div class="ibox-tools">
                <div class="row form-inline" style="margin-right: 2px">
                    {% if need_adjust_course_blocks %}<span class="need pull-left" style="margin-left: 5px">（带红色边框的表示需要人工调整的课程）</span>{% endif %}
                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </div>
            </div>
        </div>

        <div class="ibox-content">
            <div class="table-responsive">
                <table class="table table-bordered table-hover" id="week_schedule_table"
                       data-toggle="table"
                       data-classes="table table-hover"
                       data-striped="true"
                       align="center">
                </table>
            </div>
        </div>
    </div>

    {% if no_need_adjust_course_blocks %}
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>已合理安排的课程信息表<span class="need">（不建议改动本信息表）</span></h5>
                <div class="ibox-tools">
                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </div>
            </div>
            <div class="ibox-content">
                <div class="table-responsive">
                    <table id="no_need_adjust_table"
                           data-id-field="id"
                           data-side-pagination="server"
                           data-response-handler="responseHandler">
                    </table>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block add_js_to_manage %}
    <script src="/static/css_js/js/plugins/select2/select2.full.min.js"></script>

    <!--配置人工调整的信息表格 通用方法-->
    <script>
        var need_adjust_table = $('#need_adjust_table');
        var no_need_adjust_table = $('#no_need_adjust_table');

        function init_table(table) {
            console.log('init_table()执行');
            table.bootstrapTable('destroy').bootstrapTable({
                locale: $('#locale').val(),
                columns: [
                    [{
                        title: '序号',
                        field: 'id',
                    }, {
                        field: 'weeks',
                        title: '所有周次',
                        editable:{
                            type:'select2',
                            source: [
                                {% for x in which_week %}
                                    { value: {{ x }}, text: {{ x }}},
                                {% empty %}
                                    { value:"", text: not_found_data},
                                {% endfor %}
                            ],
                            select2 : {
                                multiple : true,
                                width : '80px'  //设置宽，这个一定要，不然显示框很窄
                            }
                        },
                    }, {
                        field: 'days_of_the_week',
                        title: '星期',
                        editable:{
                            type:'select',
                            source: [
                                {% for x in days_of_the_week %}
                                    { value: {{ x }}, text: {{ x }}},
                                {% empty %}
                                    { value:"", text: not_found_data},
                                {% endfor %}
                            ]
                        }
                    }, {
                        field: 'sections',
                        title: '所有节次',
                    }, {
                        field:'course',
                        title:'课程',
                    },{
                        field:'classes',
                        title:'授课班级',
                    },{
                        field: 'labs',
                        title: '实验室',
                        editable:{
                            type:'select2',
                            source: [
                                {% for x in labs %}
                                    {id:{{ x.id }}, value: {{ x.id }}, text: '{{ x.name }}' },
                                {% empty %}
                                    {value:"", text: '暂无数据'}
                                {% endfor %}
                            ],
                            select2 : {
                                multiple : true,
                                width : '180px', //设置宽，这个一定要，不然显示框很窄
                            },
                        }
                    }, {
                        field: 'operate',
                        title: '单项操作',
                        events: window.operateEvents,
                        formatter: operateFormatter
                    }]
                ],
            });

            function operateFormatter(value, row, index) {
                return [
                    '<button class="btn btn-primary btn-xs" onclick="save(this)" title="本按钮只对这一行起作用">保存修改</button>',
                ].join('')
            }
        }

        function load_need_adjust_table(table){
            {% for course_block in need_adjust_course_blocks %}
                var new_row = {
                    "id": {{ course_block.no }},
                    "weeks": '{{ course_block.weeks }}',
                    "days_of_the_week": '{{ course_block.course_block.days_of_the_week }}',
                    "sections": '{{ course_block.course_block.sections }}',
                    "course": '{{ course_block.course_block.course.name }}',
                    "course_block_id": '{{ course_block.course_block.id }}',
                    {#course_block_id是不在表格上展示的数据，这里要传course_block的id，因为这些数据都是基于课程块的#}
                    "classes": '{{ course_block.classes|safe }}',
                    "labs": '{{ course_block.labs }}',
                    {#"labs": "1",    //要传id，字符串类型的id，而不要直接传下拉列表里的text值#}
                };
                // 插入该行
                table.bootstrapTable('insertRow', {
                    index: Number({{ course_block.no }}),
                    row: new_row
                });
            {% empty %}
            {% endfor %}
        }

        function load_no_need_adjust_table(table){
            {% for course_block in no_need_adjust_course_blocks %}
                var new_row = {
                    "id": {{ course_block.no }},
                    "weeks": '{{ course_block.weeks }}',
                    "days_of_the_week": '{{ course_block.course_block.days_of_the_week }}',
                    "sections": '{{ course_block.course_block.sections }}',
                    "course": '{{ course_block.course_block.course.name }}',
                    "course_block_id": '{{ course_block.course_block.id }}',
                    {#course_block_id是不在表格上展示的数据，这里要传course_block的id，因为这些数据都是基于课程块的#}
                    "classes": '{{ course_block.classes|safe }}',
                    "labs": '{{ course_block.labs }}',
                    {#"labs": "1",    //要传id，字符串类型的id，而不要直接传下拉列表里的text值#}
                };
                // 插入该行
                table.bootstrapTable('insertRow', {
                    index: Number({{ course_block.no }}),
                    row: new_row
                });
            {% empty %}
            {% endfor %}
        }

        $(function() {
            init_table(need_adjust_table);
            init_table(no_need_adjust_table);
            load_need_adjust_table(need_adjust_table);
            load_no_need_adjust_table(no_need_adjust_table);

            $('#locale').change(init_table);
        })
    </script>


    <!--选择学院后触发事件-->
    <script>
        $("#institutes").change(function () {
            var current_institute_id = $(this).val();
            console.log('选择的学院 ID 为：' + current_institute_id);

            $.ajax({
                url: '{% url 'manage:arrange' %}',
                type:'GET',
                data: {'current_institute_id': current_institute_id},
                success: function (data) {
                    window.location.reload();
                }
            });
        });
    </script>

    <!--固定列的js-->
    <script src="/static/css_js/js/fixed-columns/bootstrap-table-fixed-columns.js"></script>
    <!--固定列的设置-->
    <script>
        $(function () {
            $('#week_schedule_table').bootstrapTable('destroy').bootstrapTable({
                minimumCountColumns:4,
                fixedColumns:true,
                fixedNumber:2,
            });
        })
    </script>


    <script>
        // 给某个标签添加 提示信息子标签
        function add_tip_for_cell(cell) {
            console.log('给元素：',  cell, ' 添加提示信息');
            var tag = document.createElement('span');
            var br = document.createElement('br');
            tag.innerText = can_not_be_null;
            tag.className = 'not_null';
            br.className = 'not_null';
            cell.appendChild(br);
            cell.appendChild(tag);
        }

        function save(save_button){
            var row_id = save_button.parentNode.parentNode.cells[0].innerText;
            var current_row = need_adjust_table.bootstrapTable('getData')[row_id];
            console.log('按钮所在行的数据：', current_row);

            var index_list = [1,2,6];   // 目前取周次、星期、实验室的data-value值，对应位置分别是1,2,6
            var pri_list = [];  // 原始数据列表
            for(var i=0; i < index_list.length; i++){
                pri_list.push(save_button.parentNode.parentNode.cells[index_list[i]].children[0].getAttribute('data-value'))
            }

            var new_list = [current_row.weeks, current_row.days_of_the_week, current_row.labs]; // 可能有修改的新数据列表

            var pass = true;
            $('.not_null').remove();	 // 清除掉以前的错误信息
            $.each(new_list, function (index, value) {
                console.log('判断新数据是否为空，index:', index, ' value：', value);

                if(value === empty_text || value === "" || value === null){
                    pass = false;
                    var cell = save_button.parentNode.parentNode.cells[index_list[index]];
                    add_tip_for_cell(cell);
                }
            });

            if(pass){
                var name_list = ["weeks", "days_of_the_week", "lab_ids"];   // 数据键名称列表，后台靠这个名称获取数据
                console.log('原始数据：', pri_list, '新数据：', new_list);

                var change = false;
                var data = {};
                for(var i=0; i<index_list.length; i++){
                    if(pri_list[i] !== new_list[i]){
                        change = true;
                        data[name_list[i]] = new_list[i];
                    }
                }
                console.log('是否有更改：', change, '更改的数据：', data);

                if(change){
                    var url = '{% url "manage:need_adjust_course_block" "course_block_id" %}';
                    url = url.replace("course_block_id", current_row['course_block_id']);

                    $.ajax({
                        url: url,
                        data: data,
                        type: "PUT",
                        headers:{'X-CSRFToken':'{{ csrf_token }}'},
                        success: function (return_data) {
                            if(return_data.status){
                                window.location.reload();
                            }else{
                                alert(return_data.message);
                            }
                        }
                    });
                }
            }
        }

        // 按属性智能排课按钮点击，re_arrange用于标记 在当前已排好课的基础上排课-0:flase的意思 还是 重新排课-1:true的意思
        function arrange(arrange_button, re_arrange){
            var attribute1_id = $('#attribute1 option:selected').val();
            var attribute1 = $('#attribute1 option:selected').text();

            var attribute2_id = $('#attribute2 option:selected').val();
            var attribute2 = $('#attribute2 option:selected').text();

            console.log(attribute1_id, attribute2_id);

            if (attribute1_id !== null) {
                var pass = false;
                if(re_arrange === 1){
                    pass = confirm('下面是您的选择：\n最优先排课属性为：'+attribute1+'，\n次优先排课属性为：'+attribute2 +'，\n确定要按这些属性重新智能排课吗？\n（本智能排课不会改变课程时间，只调整实验室）');
                    if(pass){
                        pass = confirm('严重警告！！即将删除所有已排课记录重新排课！！\n重新排课后，原有排课记录将不能找回。请再次确认是否要重新排课！')
                    }
                }else{
                    pass = confirm('下面是您的选择：\n最优先排课属性为：'+attribute1+'，\n次优先排课属性为：'+attribute2 +'，\n确定要按这些属性在当前排课基础上智能排课吗？\n（本智能排课不会改变课程时间，只调整实验室）');
                }

                if(pass){
                    var to_url = '{% url "manage:arrange" %}';
                    $.ajax({
                        url:to_url,
                        type:'PUT',
                        data:{"attribute1_id": attribute1_id, "attribute2_id":attribute2_id , "re_arrange":re_arrange},
                        headers:{'X-CSRFToken':'{{ csrf_token }}'},
                        success:function (data) {
                            window.location.reload();
                        }
                    });
                }
            }else{
                alert('请先选择排课属性');
            }
        }
    </script>


    <!--初始化表格和合并单元格-->
    <script>
        var rowCount = null; //   全局的行数
        var colCount = null; //   全局的列数

        function initTable() {
            $('#week_schedule_table').bootstrapTable('destroy').bootstrapTable({
                sidePagination: "server",
                type:'GET',
                url: '{% url "manage:schedule" %}',
                height: 600,
                locale: $('#locale').val(),
                onLoadSuccess: function (data) {
                    uniteTable('week_schedule_table');
                },
                columns: [
                    {
                        field: 'days_of_the_week',
                        title: '星期',
                    }, {
                        field: 'section',
                        title: '节次',
                    },
                    {% for lab in labs %}
                        {
                            field: '{{ lab.name }}',
                            title: '{{ lab.name }}',
                        },
                    {% endfor %}
                ],
            });
        }


        //动态合并单元格
        function uniteTable(tableId) {//表格ID，表格列数
            var tb=document.getElementById(tableId);
            tb.style.display='';
            var i = 0;
            var j = 0;
            rowCount = tb.rows.length; //   行数
            colCount = tb.rows[0].cells.length; //   列数

            console.log('行列数:', rowCount, colCount);

            var obj1 = null;
            var obj2 = null;
            //为每个单元格命名，包括表头
            for (i = 0; i < rowCount; i++) {
                for (j = 0; j < colCount; j++) {
                    tb.rows[i].cells[j].id = "tb__" + i.toString() + "_" + j.toString();
                    // console.log(tb.rows[i].cells[j], tb.rows[i].cells[j].id);
                }
            }

            //合并列，在本程序，应该先做行方向上的合并，因为课程往往是有多个实验室，而在一周的一串节次内，基本都是合并后的一整个大单元格
            for (i = 1; i < rowCount; i++) {    // i作为行标
                // 不能这样用：obj1 = document.getElementById(tb.rows[i].cells[2].id);
                obj1 = document.getElementById("tb__"+i.toString()+"_2");   // 从每一行的第3列开始取单元格对象元素，因为星期和节次不需要做列合并
                {#console.log('合并列，目前行和obj1：', i, obj1);#}

                for (j = 3; j < colCount; j++) {    // 从第4列开始取每一行的单元格作为下一个判断对象
                    if(document.getElementById("tb__"+i.toString()+"_"+j.toString())){
                        {#console.log('存在obj2：',document.getElementById("tb__"+i.toString()+"_"+j.toString()));#}

                        {#console.log('现在的obj1和obj2分别为：', obj1, obj2, '处于第', i, '行，第', j, '列');#}

                        obj2 = document.getElementById("tb__"+i.toString()+"_"+j.toString());
                        if (obj1.innerText === obj2.innerText && (obj2.innerText !== "")) {
                            obj1.colSpan++;
                            {#console.log('删除第', i, '行，第', j, '列的元素');#}
                            obj2.parentNode.removeChild(obj2);
                        } else {
                            obj1 = obj2;
                        }
                    }else{
                        {#console.log('不存在第', i, '行，第', j, '列的元素');#}
                    }
                }
            }

            //合并行
            for (i = 0; i < colCount; i++) {    // i作为列标
                if(i !== 1) {   // i==1时，是节次那一列，这列不用合并

                    // 由于前面已经处理了列的合并，有一些列的开头是没有单元格了的，所以要经过一轮当前列的循环找到第一个非空的单元格
                    var k = 1;  // 从第二行开始，也就是表体开始，因为第一行是表头
                    for(k; k < rowCount; k++){
                        if(document.getElementById("tb__"+ k.toString()+ "_" + i.toString())) {
                            obj1 = document.getElementById("tb__"+ k.toString()+ "_" + i.toString());
                            break;
                        }
                    }
                    if(obj1){
                        for (j=k+1; j < rowCount; j++) {    // 这里的j是用来取obj2的，所以要+1
                            if (document.getElementById("tb__" + j.toString() + "_" + i.toString())) {
                                obj2 = document.getElementById("tb__" + j.toString() + "_" + i.toString());

                                {#console.log('现在的obj1和obj2分别为：', obj1, obj2, '处于第', j, '行，第', i, '列');#}

                                if (obj1.innerText === obj2.innerText && (obj2.innerText !== "")) {
                                    if(obj1.getAttribute("colspan") === obj2.getAttribute("colspan")) {
                                        {#console.log('obj1和obj2的跨列数：', obj1.colspan,obj2.colspan);#}
                                        obj1.rowSpan++;
                                        {#console.log('删除第', j, '行，第', i, '列的元素');#}
                                        obj2.parentNode.removeChild(obj2);
                                    }
                                } else {
                                    obj1 = document.getElementById("tb__" + j.toString() + "_" + i.toString());
                                }
                            } else {
                                {#console.log('不存在第', j, '行，第', i, '列的元素');#}
                            }
                        }
                    }
                }
            }
        }

        $(function() {
            initTable();
            $('#locale').change(initTable);
        })
    </script>
{% endblock %}
