<!--manage/base.html-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link rel="icon" href="/static/image/default/logo.svg">

    <title>{% if title %}{{ title }}{% else %}实验室与实验课程管理系统{% endif %}</title>

    <link href="/static/css_js/css/bootstrap.min.css" rel="stylesheet">

    <link href="/static/css_js/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="/static/css_js/css/style.css" rel="stylesheet">

    <!--bootstrap-table的依赖-->
    <link rel="stylesheet" href="/static/css_js/css/bootstrap-table.css">

    <!--editable的依赖-->
    <link href="/static/css_js/css/bootstrap-editable.css" rel="stylesheet">

    <style type="text/css">
        .not_null, .need{
            color: #ff0000;
        }

        a.editable-empty,a.editable,a.editable-click{
            width: 80%;
            height: 25px;
            display: inline-block;
        }

        .editable-click, a.editable-click, a.editable-click:hover {
        {#text-decoration: none;#}
            border-bottom: dashed 0px #0088cc;
        {#white-space: nowrap;#}
            /* 重写去除下边框 */
        }

        /* 设置input的样式
            bootstrap table padding为8px,加上左border为1px
            editable input 的样式中padding:6 24 6 2;border 1px;
        */
        {#.inputclass{#}
        {#    width:100% !important;min-width:87px;#}
        {#height:30px;#}
        {#    padding-left: 2px;#}
        {#}#}
    </style>

    <!--子html文件用这个填充块添加css样式-->
    {% block add_css_to_manage %}{% endblock %}
</head>

<body>
<div id="wrapper">
    <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav metismenu" id="side-menu">
                <li class="nav-header">
                    <div class="dropdown profile-element text-center">
                        <span>
                            <img alt="image" class="img-circle" src="/static/image/default/dog.jpg" style="width: 80px"/>
                        </span>
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="clear">
                                <span class="block m-t-xs">
                                    <strong class="font-bold">
                                        {{ request.session.user_name }}
                                    </strong>
                                </span>
                                <span class="text-muted text-xs block">
                                    {% if request.session.user_type == 'managers' %}
                                        超级管理员
                                    {% elif request.session.user_type == 'teachers' %}
                                        教师
                                    {% elif request.session.user_type == 'students' %}
                                        学生
                                    {% endif %}
                                    <b class="caret"></b>
                                </span>
                            </span>
                        </a>
                        <ul class="dropdown-menu animated fadeInRight m-t-xs">
                            <li><a href="{% url 'browse:logout' %}">退出账号</a></li>
                        </ul>
                    </div>
                    <div class="logo-element">
                        <img alt="image" class="img-circle" src="/static/image/default/dog.jpg" style="width: 40px"/>
                    </div>
                </li>
                <li><a href="{% url 'manage:personal_info' %}"><i class="fa fa-user-circle-o"></i>个人信息</a></li>
                {% for key, menu in request.session.user_menus.items %}
                    {% if menu.children %}
                        <li {% if menu_parent_name %}{% if menu_parent_name|urlencode:'' == menu.name|urlencode:'' %}class="active"{% endif %}{% endif %}>
                            <a href="#">{{ menu.icon|safe }}<span class="nav-label">{{ menu.name|safe}}</span><span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level collapse">
                                {% for m in menu.children %}
                                    <li {% if menu_url_name|urlencode:'' == m.url_name|urlencode:'' %}class="active"{% endif %}>
                                        <a href="{{ m.url|safe }}">{{ m.name|safe }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% else %}
                        <li {% if menu_url_name|urlencode:'' == menu.url_name|urlencode:'' %}class="active"{% endif %}>
                            <a href="{{ menu.url|safe }}">{{ menu.icon|safe }}{{ menu.name|safe}}</a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </nav>

    <div id="page-wrapper" class="gray-bg dashbard-1">
        <div class="row border-bottom">
            <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
                <div class="navbar-header">
                    <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
                </div>
                <ul class="nav navbar-top-links navbar-right">
                    {#                    <li class="dropdown">#}
                    {#                        <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">#}
                    {#                            <i class="fa fa-envelope"></i>  <span class="label label-warning">16</span>#}
                    {#                        </a>#}
                    {#                        <ul class="dropdown-menu dropdown-messages">#}
                    {#                            <li>#}
                    {#                                <div class="dropdown-messages-box">#}
                    {#                                    <div class="media-body">#}
                    {#                                        <a href="#">#}
                    {#                                            <small class="pull-right text-navy">1小时前</small>#}
                    {#                                            <strong>嵌入式系统设计实验</strong> 通过了 . <br>#}
                    {#                                            <small class="text-muted">2019.05.21 16:58</small>#}
                    {#                                        </a>#}
                    {#                                    </div>#}
                    {#                                </div>#}
                    {#                            </li>#}
                    {#                            <li class="divider"></li>#}
                    {#                            <li>#}
                    {#                                <div class="dropdown-messages-box">#}
                    {#                                    <div class="media-body">#}
                    {#                                        <a href="#">#}
                    {#                                            <small class="pull-right">6小时前</small>#}
                    {#                                            <strong>嵌入式系统设计实验</strong> 通过了 . <br>#}
                    {#                                            <small class="text-muted">2019.05.21 16:58</small>#}
                    {#                                        </a>#}
                    {#                                    </div>#}
                    {#                                </div>#}
                    {#                            </li>#}
                    {#                            <li class="divider"></li>#}
                    {#                            <li>#}
                    {#                                <div class="dropdown-messages-box">#}
                    {#                                    <div class="media-body">#}
                    {#                                        <a href="#">#}
                    {#                                            <small class="pull-right">8小时前</small>#}
                    {#                                            <strong>嵌入式系统设计实验</strong> 通过了 . <br>#}
                    {#                                            <small class="text-muted">2019.05.21 16:58</small>#}
                    {#                                        </a>#}
                    {#                                    </div>#}
                    {#                                </div>#}
                    {#                            </li>#}
                    {#                            <li class="divider"></li>#}
                    {#                            <li>#}
                    {#                                <div class="text-center link-block">#}
                    {#                                    <a href="#">#}
                    {#                                        <i class="fa fa-envelope"></i> <strong>阅读所有消息</strong>#}
                    {#                                    </a>#}
                    {#                                </div>#}
                    {#                            </li>#}
                    {#                        </ul>#}
                    {#                    </li>#}
                    <li>
                        <a href="{% url 'browse:logout' %}">
                            <i class="fa fa-sign-out"></i> 退出账户
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="row border-bottom white-bg dashboard-header">
            {% block manage_body %}{% endblock %}
        </div>
    </div>
</div>

<!-- Mainly scripts -->
<script src="/static/css_js/js/jquery-3.1.1.min.js"></script>
<script src="/static/css_js/js/bootstrap.min.js"></script>
<script src="/static/css_js/js/plugins/metisMenu/jquery.metisMenu.js"></script>
<script src="/static/css_js/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

<!-- Custom and plugin javascript 和左侧主导航栏有关 -->
<script src="/static/css_js/js/inspinia.js"></script>
<script src="/static/css_js/js/plugins/pace/pace.min.js"></script>

<!-- jQuery UI -->
<script src="/static/css_js/js/plugins/jquery-ui/jquery-ui.min.js"></script>

<!-- add bootstrap table的js依赖-->
<script type="text/javascript" src="/static/css_js/js/bootstrap-table.js"></script>
<!-- add bootstrap table的中文js依赖-->
<script type="text/javascript" src="/static/css_js/js/bootstrap-table-zh-CN.js"></script>
<script type="text/javascript" src="/static/css_js/js/bootstrap-table-export.js"></script>

<!-- editable 依赖 -->
<script src="/static/css_js/js/bootstrap-editable.js"></script>
<!-- editable和table 结合的依赖 -->
<script src="/static/css_js/js/bootstrap-table-editable.js"></script>

<script>
    /* window.onload = function(){
         var h=document.documentElement.clientHeight-40;//可见区域高度
         ss=document.getElementById("base_div");
         ss.style.height=h+"px";
     }*/
</script>

<!--全局的bootstrap table 和 X-editable 配置 开始-->
<script>
    var empty_text = '       ';    // 全局性的空文本
    var not_found_data = '暂无数据';    // 全局性的找不到数据提示文本
    var can_not_be_null = '不可为空';   // 全局性的不可为空提醒文本

    $.fn.editable.defaults.mode = 'inline';//设置行内编辑模式
    $.fn.editable.defaults.showbuttons = false;//设置所有的元素不显示按钮
    $.fn.editable.defaults.emptytext = empty_text;//设置默认的空文本
    $.fn.editable.defaults.onblur= "submit"; //表示鼠标离开输入框即进行提交保存操作
    $.fn.editable.defaults.autotext = "always";
    $.fn.editable.defaults.inputclass="inputclass";
    //上面这句很重要，作用为是否显示select的文本。当select中source中的value和text均为文本时，需要声明，不然select框会直接显示值

    $.fn.bootstrapTable.columnDefaults.valign = 'middle';//垂直居中
    $.fn.bootstrapTable.columnDefaults.align = 'center';//水平居中
    {#$.fn.bootstrapTable.columnDefaults.class='not-wrap';#}
    $.fn.bootstrapTable.columnDefaults.undefinedText = empty_text;//当表格项没有数据时显示的内容
    $.fn.bootstrapTable.defaults.striped = true;

    var delete_ids_in_database = [];
</script>
<!--全局的bootstrap table 和 X-editable 配置 结束-->

<!--通用的为表格添加提示信息的方法 开始-->
<script>
    function add_tip(table_id_str, index, cells) {
        var tag = document.createElement('span');
        var br = document.createElement('br');
        tag.innerText = can_not_be_null;
        tag.className = 'not_null';
        br.className = 'not_null';
        document.getElementById(table_id_str).rows[index+1].cells[cells].appendChild(br);
        document.getElementById(table_id_str).rows[index+1].cells[cells].appendChild(tag);
    }
</script>
<!--通用的为表格添加提示信息的方法 结束-->


<!--通用的ajax提交 from_url为刷新返回地址，to_url为提交地址，接收的data为json即可，在函数内会序列化处理-->
<script>
    function base_ajax(from_url, to_url, data) {
        $.ajax({
            cache:true,//保留缓存数据
            type:"POST",
            url:to_url,
            data:JSON.stringify(data),
            dataType:'JSON',
            async:true,
            headers:{'X-CSRFToken':'{{ csrf_token }}'},
            error:function(request){
                console.log("提交失败", request);
                alert('提交失败'+request.toString());
            },
            success:function(data){
                console.log("已提交");
                console.log(data);
                if(data.status){
                    console.log('提交成功！');
                    window.location.href=from_url;
                }else{
                    console.log('提交失败：'+data.message);
                    alert(data.message);
                }
            }
        });
    }
</script>


<!--通用的设置表信息和动态事件方法-->
<script>
    // 此处的model传入字符串，用于标识对象是什么类型的模型
    function set_a_table(table, remove_button, model_name){
        function get_id_selections(table) {
            return $.map(table.bootstrapTable('getSelections'), function (row) {
                return row.id
            })
        }

        function get_id_in_database_selections(table) {
            return $.map(table.bootstrapTable('getSelections'), function (row) {
                return row.id_in_database
            })
        }

        // 隐藏数据库id列
        table.bootstrapTable('hideColumn', 'id_in_database');

        table.on('check.bs.table uncheck.bs.table ' + 'check-all.bs.table uncheck-all.bs.table',
            function () {
                remove_button.prop('disabled', !table.bootstrapTable('getSelections').length);

                // save your data, here just save the current page
                selections = get_id_selections(table)
                // push or splice the selections if you want to save all data selections
            }
        );
        table.on('all.bs.table', function (e, name, args) {
            console.log(name, args)
        });

        remove_button.click(function () {
            var ids = get_id_selections(table);
            var ids_in_database = get_id_in_database_selections(table);
            var remove_flag = confirm('您正在删除'+model_name+ids+'，将会连同该'+model_name+'下的所有子关联表信息都删除（如果有的话），确定删除吗？');

            if(remove_flag) {
                table.bootstrapTable('remove', {
                    field: 'id',
                    values: ids
                });
                delete_ids_in_database = ids_in_database;
                remove_button.prop('disabled', true)
            }
        })
    }
</script>


<!--最新的通用方法-->
<script>
    function common_ajax(url, submit_type, data) {
        $.ajax({
            url: url,
            type: submit_type,
            data: JSON.stringify(data),
            headers: {'X-CSRFToken': '{{ csrf_token }}'},
            success: function (return_data) {
                if(return_data.status){
                    window.location.reload();
                }else{
                    alert(return_data.message);
                }
            }
        })
    }

    // 这个是没有外键需要修改的模型的表格信息处理函数
    function common_create_put_post_data_simple(table_data, tag, model_field_name, hide_model_field_name, submit_url) {
        var put_data = [];
        var post_data = [];
        for(var i = 0; i < table_data.length; i++){
            console.log('通过数据行是否有数据库id来作为新旧数据的依据， 序号：', i, '行的数据库id：', table_data[i]['id_in_database']);
            if(table_data[i]['id_in_database']){
                // 数据有修改才需要提交
                if(table_data[i][hide_model_field_name] !== table_data[i][model_field_name]){
                    put_data.push({
                        'id': table_data[i]['id_in_database'],
                        'name': table_data[i][model_field_name]
                    })
                }
            }else{
                post_data.push({
                    'name': table_data[i][model_field_name],
                })
            }
        }
        if(put_data.length > 0){
            console.log(tag + '存在修改数据：', put_data);
            common_ajax(submit_url, 'PUT', put_data);
        }
        if(post_data.length > 0){
            console.log(tag + '存在新增数据：', post_data);
            common_ajax(submit_url, 'POST', post_data);
        }
        if(delete_ids_in_database.length > 0){
            console.log(tag + '删除的ids：', delete_ids_in_database);
            common_ajax(submit_url, 'DELETE', delete_ids_in_database);
        }
    }

    function common_create_put_post_data(table_data, tag, foreign_model_name, hide_foreign_model_id_name, model_field_name, hide_model_field_name, submit_url) {
        // 通过rag传入表格信息类别标记（比如：学院、系别）
        // 新增的数据和原来修改的数据要分别通过post和put方式提交
        var put_data = [];
        var post_data = [];

        var foreign_model_name_id_name = foreign_model_name + '_id';

        for(var i = 0; i < table_data.length; i++){
            console.log(tag, '-通过数据行是否有数据库id来作为新旧数据的依据， 序号：', i, '行的数据库id：', table_data[i]['id_in_database']);

            if(table_data[i]['id_in_database']){
                // 数据有修改才需要提交
                var temp = {'id': table_data[i]['id_in_database'],};
                var change = false;
                if(table_data[i][hide_model_field_name] !== table_data[i][model_field_name]){
                    temp['name'] = table_data[i][model_field_name];
                    change = true;
                }
                if(table_data[i][hide_foreign_model_id_name] !== table_data[i][foreign_model_name]){
                    temp[foreign_model_name_id_name] = table_data[i][foreign_model_name];
                    change = true;
                }
                if(change) {
                    put_data.push(temp)
                }
            }else{
                var temp = {};
                temp[foreign_model_name_id_name] = table_data[i][foreign_model_name];
                temp['name'] = table_data[i][model_field_name];
                post_data.push(temp)
            }
        }
        if(put_data.length > 0){
            console.log(tag, '-存在修改数据：', put_data);
            common_ajax(submit_url, 'PUT', put_data);
        }
        if(post_data.length > 0){
            console.log(tag, '-存在新增数据：', post_data);
            common_ajax(submit_url, 'POST', post_data);
        }
        if(delete_ids_in_database.length > 0){
            console.log(tag, '-删除的ids：', delete_ids_in_database);
            common_ajax(submit_url, 'DELETE', delete_ids_in_database);
        }
    }
</script>


<!--子html文件用这个填充块添加js样式-->
{% block add_js_to_manage %}{% endblock %}
</body>

</html>
