<!--manage/classes_manage.html-->

{% extends 'manage/base.html' %}

{% block add_css_to_manage %}{% endblock %}

{% block manage_body %}
    {% if grades %}
        <div class="row">
            <div class="col-md-12">
                <br>
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>班级信息表</h5>
                        <div class="ibox-tools">
                            <button id="add_classes_button" class="btn btn-primary">添加班级</button>
                            <button id="remove_classes_button" class="btn btn-danger" disabled>删除班级</button>
                            <button id="save_classes_button" class="btn btn-primary">保存修改</button>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <table id="classes_table"
                               class="table-responsive"
                               data-id-field="id"
                               data-click-to-select="true"
                               data-url="{% url 'manage:classes' request.session.school_id %}">
                        </table>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <hr>
        请先添加年级信息，有年级信息后可进行下一步设置 <a href="{% url 'manage:school_manage' %}">>>>前往添加</a>
    {% endif %}
    <div align="left" style="margin-left: 20px">
        <a href="#" onClick="history.back(-1);">
            <button id="back" class="btn btn-primary" title="返回上一页">
                返回上一页
            </button>
        </a>
    </div>
{% endblock %}

{% block add_js_to_manage %}
    <!--全局的参数或函数-->
    <script>
        var classes_url = "{% url 'manage:classes' request.session.school_id %}";
    </script>

    <!--班级表设置相关  开始-->
    <script>
        var classes_table = $('#classes_table');
        var remove_classes_button = $('#remove_classes_button');

        function init_classes_table() {
            classes_table.bootstrapTable('destroy').bootstrapTable({
                locale: $('#locale').val(),
                columns: [
                    [{
                        field: 'state',
                        checkbox: true,
                    }, {
                        title: '序号',
                        field: 'id',
                    },{
                        field:'grade',
                        title: '所属年级<span class="need">*</span>',
                        editable:{
                            type:'select',
                            source: [
                                {% for grade in grades %}
                                    { value: {{ grade.id }}, text: '{{ grade }}'},
                                {% empty %}
                                    { value:"", text: not_found_data},
                                {% endfor %}
                            ]
                        },
                    },{
                        field: 'classes_name',
                        title: '班级<span class="need">*</span>',
                        editable:{
                            type:'select',
                            source: [
                                {% for classes_number in classes_numbers %}
                                    { value: {{ classes_number }}, text: '{{ classes_number }}'},
                                {% endfor %}
                            ]
                        },
                    },{
                        field: 'hide_grade_id',
                    },{
                        field: 'hide_classes_name',
                    },{
                        field:'id_in_database',
                    }]
                ]
            });
            // 隐藏年级id和班级名称隐藏列
            classes_table.bootstrapTable('hideColumn', 'hide_grade_id');
            classes_table.bootstrapTable('hideColumn', 'hide_classes_name');
            set_a_table(classes_table, remove_classes_button, '班级');
        }

        $(function() {
            init_classes_table();
            $('#locale').change(init_classes_table);
        })
    </script>
    <!--班级表设置相关  结束-->

    <!--动态添加班级表格行 事件 开始-->
    <script>
        $("#add_classes_button").click(function () {
            // 用index实现编号自增
            var data = classes_table.bootstrapTable('getData');
            var index = data.length;

            var new_row = null;

            if(index === 0){
                new_row = {
                    "id": index,
                    "grade": {% if grades %}{{ grades.0.id }}{% else %}""{% endif %},
                    "classes_name": ""
                };
            }else{
                new_row = {
                    "id": index,
                    "grade": data[index-1].grade,
                    "classes_name": Number(data[index-1].classes_name)+1,
                };
            }

            // 最后插入该行
            classes_table.bootstrapTable('insertRow', {
                index: index,
                row: new_row
            });
        });
    </script>
    <!--动态添加班级表格行 事件 结束-->

    <!--保存修改或增加班级信息后的表格 事件 开始 -->
    <script>
        $('#save_classes_button').click(function () {
            var classes_table_data = classes_table.bootstrapTable('getData');
            var pass = true;

            $('.not_null').remove();	 // 清除掉以前的错误信息

            $.each(classes_table_data, function (index, value) {
                console.log(index, value);

                if(value['grade'] === empty_text || value['grade'] == ""){
                    pass = false;
                    add_tip('classes_table', index, 2)
                }

                if(value['classes_name'] === empty_text || value['classes_name'] == ""){
                    pass = false;
                    add_tip('classes_table', index, 3)
                }
            });
            if(pass){
                common_create_put_post_data(classes_table_data, '班级', 'grade', 'hide_grade_id', 'classes_name', 'hide_classes_name', classes_url);
            }
        })
    </script>
    <!--保存修改或增加班级信息后的表格 事件 结束 -->
{% endblock %}