<!--manage/course_manage.html-->

{% extends 'manage/base.html' %}

{% block add_css_to_manage %}
    <!--多项选择的css依赖-->
    <link href="/static/css_js/css/plugins/select2/select2.min.css" rel="stylesheet" type="text/css">
    <link href="/static/css_js/css/plugins/select2/select2-bootstrap.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block manage_body %}
    {% if institutes %}
        <div class="row">
            <div class="col-md-12">
                <br>
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>课程信息表<small class="need">（不是当前学期的课程会在新学期开始后被删除）</small></h5>
                        <div class="ibox-tools">
                            <button id="add_course_button" class="btn btn-primary">添加课程</button>
                            <button id="remove_course_button" class="btn btn-danger" disabled>删除课程</button>
                            <button id="save_course_button" class="btn btn-primary">保存修改</button>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <table id="course_table"
                               class="table-responsive"
                               data-id-field="id"
                               data-click-to-select="true"
                               data-url="{% url 'manage:courses' request.session.school_id %}">
                        </table>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <hr>
        请先添加学院信息，有学院信息后可进行下一步设置 <a href="{% url 'manage:school_manage' %}">>>>前往添加</a>
    {% endif %}
    <div align="left" style="margin-left: 20px">
        <a href="#" onClick="history.back(-1);">
            <button id="back" class="btn btn-primary" title="返回上一页">
                返回上一页
            </button>
        </a>
    </div>
{% endblock %}

{% block add_js_to_manage %}
    <script src="/static/css_js/js/plugins/select2/select2.full.min.js"></script>
     <!--全局的参数或函数-->
    <script>
        var course_url = "{% url 'manage:teachers' request.session.school_id %}";
    </script>

    <!--课程信息表设置相关  开始-->
    <script>
        var course_table = $('#course_table');
        var remove_course_button = $('#remove_course_button');

        function init_course_table() {
            course_table.bootstrapTable('destroy').bootstrapTable({
                columns: [
                    [{
                        field: 'state',
                        checkbox: true,
                    },{
                        title: '序号',
                        field: 'id',
                    },{
                        field:'institute',
                        title: '开课单位（学院）<span class="need">*</span>',
                        editable:{
                            type:'select',
                            source: [
                                {% for institute in institutes %}
                                    { value: {{ institute.id }}, text: '{{ institute.name }}'},
                                {% empty %}
                                    { value:"", text: not_found_data},
                                {% endfor %}
                            ]
                        },
                    },{
                        field: 'course_name',
                        title: '课程名称<span class="need">*</span>',
                        editable:{
                            type:'text',
                        },
                    },{
                        field:'attribute',
                        title: '<a href="{% url 'manage:labs_attribute_manage' %}">课程属性</a>',
                        editable:{
                            type:'select',
                            source: [
                                {% for attribute in attributes %}
                                    { value: {{ attribute.id }}, text: '{{ attribute.name }}'},
                                {% empty %}
                                    { value:"", text: not_found_data},
                                {% endfor %}
                            ]
                        },
                    },{
                        field:'classes',
                        title: '授课班级',
                        editable:{
                            type:'select2',
                            source: [
                                {% for classes_item in classes %}
                                    { value: {{ classes_item.id }}, text: '{{ classes_item.grade.department.name }}{{ classes_item.grade.name }}级{{ classes_item.name }}班'},
                                {% empty %}
                                    { value:"", text: not_found_data},
                                {% endfor %}
                            ],
                            select2 : {
                                multiple : true,
                                width : '200px'//设置宽，这个一定要，不然显示框很窄
                            }
                        },
                    },{
                        field:'teachers',
                        title: '授课教师',
                        editable:{
                            type:'select2',
                            source: [
                                {% for teacher in teachers %}
                                    { value: {{ teacher.id }}, text: '{{ teacher }}'},
                                {% empty %}
                                    { value:"", text: not_found_data},
                                {% endfor %}
                            ],
                            select2 : {
                                multiple : true,
                                width : '100px'//设置宽，这个一定要，不然显示框很窄
                            }
                        },
                    },{
                        field:'id_in_database',
                    }]
                ]
            });

            set_a_table(from_url, course_table, remove_course_button, 'courses');
        }

        $(function() {
            init_course_table();
            $('#locale').change(init_course_table);
        })
    </script>
    <!--课程信息表设置相关  结束-->

    <!--动态添加课程信息表格行 事件 开始-->
    <script>
        $("#add_course_button").click(function () {
            // 用index实现编号自增
            var data = course_table.bootstrapTable('getData');
            var index = data.length;

            var new_row = null;

            if(index === 0){
                new_row = {
                    "id": index,
                    "institute": {% if institutes %}{{ institutes.0.id }}{% else %}""{% endif %},
                    "course_name": "",
                    "attribute": "",
                    "classes": "",
                    "teachers": "",
                };
            }else{
                new_row = {
                    "id": index,
                    "institute": data[index-1].institute,
                    "course_name": "",
                    "attribute": "",
                    "classes": "",
                    "teachers": data[index-1].teachers,
                };
            }

            // 最后插入该行
            course_table.bootstrapTable('insertRow', {
                index: index,
                row: new_row
            });
        });
    </script>
    <!--动态添加课程信息表格行 事件 结束-->

    <!--保存修改或增加课程信息后的表格 事件 开始 -->
    <script>
        $('#save_course_button').click(function () {
            var courses = course_table.bootstrapTable('getData');
            var pass = true;

            $('.not_null').remove();	 // 清除掉以前的错误信息

            $.each(courses, function (index, value) {
                if(value['institute'] === empty_text || value['institute'] == ""){
                    pass = false;
                    add_tip('course_table', index, 2)
                }

                if(value['course_name'] === empty_text || value['course_name'] == ""){
                    pass = false;
                    add_tip('course_table', index, 3)
                }
            });
            if(pass){
            }
        })
    </script>
    <!--保存修改或增加课程信息后的表格 事件 结束 -->
{% endblock %}