<!--manage/lab_manage.html-->

{% extends 'manage/base.html' %}

{% block add_css_to_manage %}
    <!--多项选择的css依赖-->
    <link href="/static/css_js/css/plugins/select2/select2.min.css" rel="stylesheet" type="text/css">
    <link href="/static/css_js/css/plugins/select2/select2-bootstrap.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block manage_body %}
    {% if institutes %}
        <div class="row">
            <div class="col-md-12">
                <br>
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>实验室信息表</h5>
                        <div class="ibox-tools">
                            <button id="add_lab_button" class="btn btn-primary">添加实验室</button>
                            <button id="remove_lab_button" class="btn btn-danger" disabled>删除实验室</button>
                            <button id="save_lab_button" class="btn btn-primary">保存修改</button>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <table id="lab_table"
                               class="table-responsive"
                               data-id-field="id"
                               data-click-to-select="true"
                               data-url="{% url 'manage:labs' request.session.school_id %}">
                        </table>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        请先添加学院信息，有学院信息后可进行下一步设置 <a href="{% url 'manage:school_manage' %}">>>>前往添加</a>
        <p></p>
    {% endif %}
    <div align="left" style="margin-left: 20px">
        <a href="#" onClick="history.back(-1);">
            <button id="back" class="btn btn-primary" title="返回上一页">
                返回上一页
            </button>
        </a>
    </div>
{% endblock %}

{% block add_js_to_manage %}
    <script src="/static/css_js/js/plugins/select2/select2.full.min.js"></script>
    <!--全局的参数或函数-->
    <script>
        var lab_url = "{% url 'manage:labs' request.session.school_id %}";
    </script>


    <!--实验室信息表设置相关  开始-->
    <script>
        var lab_table = $('#lab_table');
        var remove_lab_button = $('#remove_lab_button');

        function init_lab_table() {
            lab_table.bootstrapTable('destroy').bootstrapTable({
                columns: [
                    [{
                        field: 'state',
                        checkbox: true,
                    }, {
                        title: '序号',
                        field: 'id',
                    },{
                        field:'institute',
                        title: '所属学院<span class="need">*</span>',
                        editable:{
                            type:'select',
                            source: [
                                {% for institute in institutes %}
                                    { value: {{ institute.id }}, text: '{{ institute.name }}'},
                                {% empty %}
                                    { value:"", text: not_found_data},
                                {% endfor %}
                            ]
                        },
                    },{
                        field: 'lab_name',
                        title: '实验室名称<span class="need">*</span>',
                        editable:{
                            type:'text',
                        },
                    },{
                        field: 'number_of_people',
                        title: '容纳人数',
                        editable:{
                            type:'text',
                        },
                    },{
                        field:'dispark',
                        title: '开放情况<span class="need">*</span>',
                        editable:{
                            type:'select',
                            value: '1',
                            source: [
                                { value: '1', text: '开放'},
                                { value: '0', text: '不开放'},
                            ]
                        },
                    },{
                        field:'attribute1',
                        title: '<a href="{% url 'manage:lab_attribute_manage' %}">1级属性</a>',
                        editable:{
                            type:'select',
                            source: [
                                {% for attribute in lab_attributes %}
                                    { value: {{ attribute.id }}, text: '{{ attribute.name }}'},
                                {% empty %}
                                    { value:"", text: not_found_data},
                                {% endfor %}
                            ]
                        },
                    },{
                        field:'attribute2',
                        title: '<a href="{% url 'manage:lab_attribute_manage' %}">2级属性</a>',
                        editable:{
                            type:'select',
                            source: [
                                {% for attribute in lab_attributes %}
                                    { value: {{ attribute.id }}, text: '{{ attribute.name }}'},
                                {% empty %}
                                    { value:"", text: not_found_data},
                                {% endfor %}
                            ]
                        },
                    },{
                        field:'attribute3',
                        title: '<a href="{% url 'manage:lab_attribute_manage' %}">3级属性</a>',
                        editable:{
                            type:'select',
                            source: [
                                {% for attribute in lab_attributes %}
                                    { value: {{ attribute.id }}, text: '{{ attribute.name }}'},
                                {% empty %}
                                    { value:"", text: not_found_data},
                                {% endfor %}
                            ]
                        },
                    },{
                        field: 'equipments',
                        title: '设备情况（建议填写方式为：设备+数量）',
                        editable:{
                            type:'textarea',
                            rows:5,
                            mode:"popup",
                        },
                    },{
                        field:'hide_institute_id',
                    },{
                        field:'hide_lab_name',
                    },{
                        field:'hide_number_of_people',
                    },{
                        field:'hide_dispark',
                    },{
                        field:'hide_attribute1_id',
                    },{
                        field:'hide_attribute2_id',
                    },{
                        field:'hide_attribute3_id',
                    },{
                        field:'hide_equipments',
                    },{
                        field:'id_in_database',
                    }]
                ]
            });
            // 隐藏一些id和名称隐藏列
            lab_table.bootstrapTable('hideColumn', 'hide_institute_id');
            lab_table.bootstrapTable('hideColumn', 'hide_lab_name');
            lab_table.bootstrapTable('hideColumn', 'hide_number_of_people');
            lab_table.bootstrapTable('hideColumn', 'hide_dispark');
            lab_table.bootstrapTable('hideColumn', 'hide_attribute1_id');
            lab_table.bootstrapTable('hideColumn', 'hide_attribute2_id');
            lab_table.bootstrapTable('hideColumn', 'hide_attribute3_id');
            lab_table.bootstrapTable('hideColumn', 'hide_equipments');
            set_a_table(lab_table, remove_lab_button, '实验室');
        }

        $(function() {
            init_lab_table();
            $('#locale').change(init_lab_table);
        })
    </script>
    <!--实验室信息表设置相关  结束-->

    <!--动态添加实验室信息表格行 事件 开始-->
    <script>
        $("#add_lab_button").click(function () {
            // 用index实现编号自增
            var data = lab_table.bootstrapTable('getData');
            var index = data.length;

            var new_row = null;

            if(index === 0){
                new_row = {
                    "id": index,
                    "institute": {% if institutes %}{{ institutes.0.id }}{% else %}""{% endif %},
                    "lab_name": "",
                    "number_of_people": "40",
                    "dispark": '1',
                    "attribute1": "",
                    "attribute2": "",
                    "attribute3": "",
                    "equipments": "",
                };
            }else{
                new_row = {
                    "id": index,
                    "institute": data[index-1].institute,
                    "lab_name": "",
                    "number_of_people": data[index-1].number_of_people,
                    "dispark": data[index-1].dispark,
                    "attribute1": data[index-1].attribute1,
                    "attribute2": data[index-1].attribute2,
                    "attribute3": data[index-1].attribute3,
                    "equipments": "",
                };
            }

            // 最后插入该行
            lab_table.bootstrapTable('insertRow', {
                index: index,
                row: new_row
            });
        });
    </script>
    <!--动态添加实验室信息表格行 事件 结束-->

    <!--保存修改或增加实验室信息后的表格 事件 开始 -->
    <script>
        $('#save_lab_button').click(function () {
            var lab_table_data = lab_table.bootstrapTable('getData');
            var pass = true;

            $('.not_null').remove();	 // 清除掉以前的错误信息

            $.each(lab_table_data, function (index, value) {
                if(value['institute'] === empty_text || value['institute'] == "" || value['institute'] == null){
                    pass = false;
                    add_tip('lab_table', index, 2)
                }
                if(value['lab_name'] === empty_text || value['lab_name'] == ""){
                    pass = false;
                    add_tip('lab_table', index, 3)
                }
                if(value['dispark'] === empty_text || value['dispark'] == ""){
                    pass = false;
                    add_tip('lab_table', index, 5)
                }
            });
            if(pass){
                var put_data = [];
                var post_data = [];
                for(var i = 0; i < lab_table_data.length; i++){
                    console.log('课程', '-通过数据行是否有数据库id来作为新旧数据的依据， 序号：', i, '行的数据库id：', lab_table_data[i]['id_in_database']);

                    if(lab_table_data[i]['id_in_database']){
                        // 数据有修改才需要提交
                        var temp = {'id': lab_table_data[i]['id_in_database'],};
                        var change = false;
                        if(lab_table_data[i]['hide_institute_id'] !== lab_table_data[i]['institute']){
                            temp['institute_id'] = lab_table_data[i]['institute'];
                            change = true;
                        }
                        if(lab_table_data[i]['hide_lab_name'] !== lab_table_data[i]['lab_name']){
                            temp['name'] = lab_table_data[i]['lab_name'];
                            change = true;
                        }
                        if(lab_table_data[i]['hide_number_of_people'] !== lab_table_data[i]['number_of_people']){
                            temp['number_of_people'] = lab_table_data[i]['number_of_people'];
                            change = true;
                        }
                        if(lab_table_data[i]['hide_dispark'] !== lab_table_data[i]['dispark']){
                            temp['dispark'] = lab_table_data[i]['dispark'];
                            change = true;
                        }
                        if(lab_table_data[i]['hide_attribute1_id'] !== lab_table_data[i]['attribute1']){
                            temp['attribute1_id'] = lab_table_data[i]['attribute1'];
                            change = true;
                        }
                        if(lab_table_data[i]['hide_attribute2_id'] !== lab_table_data[i]['attribute2']){
                            temp['attribute2_id'] = lab_table_data[i]['attribute2'];
                            change = true;
                        }
                        if(lab_table_data[i]['hide_attribute3_id'] !== lab_table_data[i]['attribute3']){
                            temp['attribute3_id'] = lab_table_data[i]['attribute3'];
                            change = true;
                        }
                        if(lab_table_data[i]['hide_equipments'] !== lab_table_data[i]['equipments']){
                            temp['equipments'] = lab_table_data[i]['equipments'];
                            change = true;
                        }
                        if(change) {
                            put_data.push(temp)
                        }
                    }else{
                        var temp = {};
                        temp['institute_id'] = lab_table_data[i]['institute'];
                        temp['name'] = lab_table_data[i]['lab_name'];
                        temp['dispark'] = lab_table_data[i]['dispark'];

                        if(lab_table_data[i]['number_of_people']) {
                            temp['number_of_people'] = lab_table_data[i]['number_of_people'];
                        }
                        if(lab_table_data[i]['attribute1']) {
                            temp['attribute1_id'] = lab_table_data[i]['attribute1'];
                        }
                        if(lab_table_data[i]['attribute2']) {
                            temp['attribute2_id'] = lab_table_data[i]['attribute2'];
                        }
                        if(lab_table_data[i]['attribute3']) {
                            temp['attribute3_id'] = lab_table_data[i]['attribute3'];
                        }
                        if(lab_table_data[i]['equipments']) {
                            temp['equipments'] = lab_table_data[i]['equipments'];
                        }
                        post_data.push(temp)
                    }
                }
                if(put_data.length > 0){
                    console.log('实验室', '-存在修改数据：', put_data);
                    common_ajax(lab_url, 'PUT', put_data);
                }
                if(post_data.length > 0){
                    console.log('实验室', '-存在新增数据：', post_data);
                    common_ajax(lab_url, 'POST', post_data);
                }
                if(delete_ids_in_database.length > 0){
                    console.log('实验室', '-删除的ids：', delete_ids_in_database);
                    common_ajax(lab_url, 'DELETE', delete_ids_in_database);
                }
            }
        })
    </script>
    <!--保存修改或增加实验室信息后的表格 事件 结束 -->
{% endblock %}