<!--manage/lab_attribute_manage.html-->

{% extends 'manage/base.html' %}

{% block add_css_to_manage %}{% endblock %}

{% block manage_body %}
    {% if request.session.school_id %}
        <div class="row">
            <div class="col-md-12">
                <br>
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>实验室属性信息表</h5>
                        <div class="ibox-tools">
                            <button id="add_lab_attribute_button" class="btn btn-primary">添加实验室属性</button>
                            <button id="remove_lab_attribute_button" class="btn btn-danger" disabled>删除实验室属性</button>
                            <button id="save_lab_attribute_button" class="btn btn-primary">保存修改</button>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <table id="lab_attribute_table"
                               class="table-responsive"
                               data-id-field="id"
                               data-click-to-select="true"
                               data-url="{% url 'manage:lab_attributes' request.session.school_id %}">
                        </table>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <a href="{% url 'manage:school_manage' %}">还没有学校信息，请先添加学校信息 >>> </a>
    {% endif %}
    <div align="left" style="margin-left: 20px">
        <a href="#" onClick="history.back(-1);">
            <button id="back" class="btn btn-primary" title="返回上一页">
                返回上一页
            </button>
        </a>
    </div>
{% endblock %}

{% block add_js_to_manage %}
    <!--全局的参数或函数-->
    <script>
        var lab_attribute_url = "{% url 'manage:lab_attributes' request.session.school_id %}";
    </script>


    <!--实验室属性信息表设置相关  开始-->
    <script>
        var lab_attribute_table = $('#lab_attribute_table');
        var remove_lab_attribute_button = $('#remove_lab_attribute_button');

        function init_lab_attribute_table() {
            lab_attribute_table.bootstrapTable('destroy').bootstrapTable({
                columns: [
                    [{
                        field: 'state',
                        checkbox: true,
                    }, {
                        title: '序号',
                        field: 'id',
                    },{
                        field: 'lab_attribute_name',
                        title: '属性名称<span class="need">*</span>',
                        editable:{
                            type:'text',
                        },
                    },{
                        field: 'hide_lab_attribute_name'
                    },{
                        field:'id_in_database',
                    }]
                ]
            });
            // 隐藏一些id和名称隐藏列
            lab_attribute_table.bootstrapTable('hideColumn', 'hide_lab_attribute_name');
            set_a_table(lab_attribute_table, remove_lab_attribute_button, '实验室属性');
        }

        $(function() {
            init_lab_attribute_table();
            $('#locale').change(init_lab_attribute_table);
        })
    </script>
    <!--实验室属性信息表设置相关  结束-->

    <!--动态添加实验室属性信息表格行 事件 开始-->
    <script>
        $("#add_lab_attribute_button").click(function () {
            // 用index实现编号自增
            var data = lab_attribute_table.bootstrapTable('getData');
            var index = data.length;

            var new_row = {
                "id": index,
                "lab_attribute_name": "",
            };

            // 最后插入该行
            lab_attribute_table.bootstrapTable('insertRow', {
                index: index,
                row: new_row
            });
        });
    </script>
    <!--动态添加实验室属性信息表格行 事件 结束-->

    <!--保存修改或增加实验室属性信息后的表格 事件 开始 -->
    <script>
        $('#save_lab_attribute_button').click(function () {
            var lab_attribute_table_data = lab_attribute_table.bootstrapTable('getData');
            var pass = true;

            $('.not_null').remove();	 // 清除掉以前的错误信息

            $.each(lab_attribute_table_data, function (index, value) {
                if(value['lab_attribute_name'] === empty_text || value['lab_attribute_name'] == ""){
                    pass = false;
                    add_tip('lab_attribute_table', index, 2)
                }
            });
            if(pass){
                common_create_put_post_data_simple(lab_attribute_table_data, '实验室属性', 'lab_attribute_name', 'hide_lab_attribute_name', lab_attribute_url)
            }
        })
    </script>
    <!--保存修改或增加实验室属性信息后的表格 事件 结束 -->
{% endblock %}