<!--manage/personal_info.html-->

{% extends 'manage/base.html' %}

{% block add_css_to_manage %}{% endblock %}

{% block manage_body %}
    <div class="row">
        {% if superuser %}
            <div {% if teacher %}class="col-md-6"{% else %}class="col-md-6 col-md-offset-3"{% endif %}>
                <div class="widget-head-color-box navy-bg p-lg text-center">
                    <div class="m-b-md">
                        <h2 class="font-bold no-margins">
                            超级管理员 · 名片
                        </h2><br>
                        <small>
                            {% if superuser.school %}
                                负责管理：{{ superuser.school }} 实验室
                            {% else %}
                                <a href="{% url 'manage:school_manage' %}">还没有学校信息，前往设置学校信息 >>></a>
                            {% endif %}
                        </small>
                    </div>
                    <img alt="头像" class="img-circle circle-border m-b-md" src="/static/image/default/dog.jpg" style="width: 100px"/>
                    <h2 class="font-bold no-margins">
                        {{ superuser.name }}
                    </h2><br><br>
                </div>
                <div class="widget-text-box">
                    <div align="center">
                        {% if teacher %}
                            <button class="btn btn-primary btn-sm" id="cancel_the_teacher_button">我不想当教师了</button>
                            <br>
                        {% else %}
                            <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#become_a_teacher_modal_table">把自己设置为一名教师</button>
                            <br>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endif %}

        {% if teacher %}
            <div class="col-md-6 {% if superuser %}{% else %}col-md-offset-3{% endif %}">
                <div class="widget-head-color-box navy-bg p-lg text-center">
                    <div class="m-b-md">
                        <h2 class="font-bold no-margins">
                            教师 · 名片
                        </h2><br>
                        <small>{% if teacher %}{{ teacher.department }}{% endif %}</small>
                    </div>
                    <img alt="头像" class="img-circle circle-border m-b-md" src="/static/image/default/dog.jpg" style="width: 100px"/>
                    <div>
                        <h2 class="font-bold no-margins">
                            {{ teacher.name }}
                        </h2><br>
                        <span>{{ term.school_year }}{{ term.name }}</span> |
                        <span>执教课程数：{{ course_amount }}</span> 门
                    </div>
                </div>
                <div class="widget-text-box">
                    <h4 class="media-heading">{% if teacher %}{{ teacher.name }}{% endif %}</h4>
                    <p>给自己点个赞，生活会因此而发光。</p>
                    <div class="text-right">
                        <a class="btn btn-xs btn-white"><i class="fa fa-thumbs-up"></i> 赞 </a>
                    </div>
                </div>
            </div>
        {% endif%}
    </div>

    <!--设置管理员为教师的模态表格-->
    <div id="become_a_teacher_modal_table" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document" style="width: 800px;">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">设置教师信息</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="ibox-content no-padding">
                        {% if departments %}
                            <ul class="list-group">
                                <li class="list-group-item form-inline">
                                    <label for="from_department">所属系别：</label>
                                    <select id="from_department" class="form-control">
                                        {% for department in departments %}
                                            {% if forloop.first %}
                                                <option value={{ department.id }} selected>{{ department }}</option>
                                            {% else %}
                                                <option value={{ department.id }}>{{ department }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                    {#<a id="from_department"></a>#}
                                </li>
                                <li class="list-group-item">
                                    <label for="name">姓 名（默认同超级管理员）：</label>
{#                                    <a id="teacher_name">#}
                                        {{ superuser.name }}
{#                                    </a>#}
                                </li>
                                <li class="list-group-item">
                                    <label for="account">账 号（默认同超级管理员）：</label>
{#                                    <a id="teacher_account">#}
                                        {{ superuser.account }}
{#                                    </a>#}
                                </li>
                                <li class="list-group-item">
                                    <label for="password">密 码（默认同超级管理员）：</label>
{#                                    <a id="teacher_password">#}
                                        {{ superuser.password }}
{#                                    </a>#}
                                </li>
                                <li class="list-group-item">
                                    <label for="phone">手机号码（默认同超级管理员）：</label>
{#                                    <a id="teacher_phone">#}
                                        {{ superuser.account }}
{#                                    </a>#}
                                </li>
                            </ul>
                        {% else %}
                            <a href="{% url 'manage:school_manage' %}">没有系别数据，请前往添加 >>></a>
                        {% endif %}
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" data-dismiss="modal" id="become_a_teacher_button">确定</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block add_js_to_manage %}
    <script>
        function personal_homepage_ajax(url, data){
            $.ajax({
                cache:true,//保留缓存数据
                type:"POST",
                url:url,
                data:data,
                dataType:'JSON',
                async:true,
                headers:{'X-CSRFToken':'{{ csrf_token }}'},
                error:function(request){
                    console.log("无法提交", request);
                },
                success:function(data){
                    console.log("已提交");
                    console.log(data);
                    if(data.status){
                        console.log('提交成功！');
                        window.location.href="{% url 'manage:personal_info' %}"
                    }else{
                        console.log('错误信息：'+data.message);
                        alert(data.message)
                    }
                }
            });
        }

        $('#become_a_teacher_button').click(function () {
            var from_department_id = document.getElementById('from_department').value;

            personal_homepage_ajax('{% url "manage:become_a_teacher" %}', JSON.stringify({'from_department_id': from_department_id}))
        });

        $('#cancel_the_teacher_button').click(function () {
            personal_homepage_ajax('{% url "manage:cancel_the_teacher" %}', JSON.stringify({'superuser_id': {{ superuser.id }} }))
        });

        /*$(function() {
            $('become_a_teacher_modal_table').on('shown.bs.modal', function () {})
        });*/
    </script>
{% endblock %}