<!--manage/school_manage.html-->

{% extends 'manage/base.html' %}

{% block add_css_to_manage %}
    <style>
        #school_name{
            height: 40px;
            position: absolute;
        }
    </style>
{% endblock %}

{% block manage_body %}
    <div class="row">
        <div class="col-md-4 col-sm-10 col-xs-10">
            <label for="school_name" style="margin-left: 15px">学校名称<span class="need">*</span>：</label> <a id="school_name" style="width: 60%;">{{ school.name }}</a>
            <a onclick="submit_school()" title="保存修改" class="pull-right"><i class="fa fa-save"></i></a>
        </div>
    </div>

    {% if school.name %}
        <!--校区信息表-->
        <div class="row">
            <div class="col-md-12">
                <br>
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>校区信息表</h5>
                        <div class="ibox-tools">
                            <button id="add_school_area_button" class="btn btn-primary">添加校区</button>
                            <button id="remove_school_area_button" class="btn btn-danger" disabled>删除校区</button>
                            <button id="save_school_area_button" class="btn btn-primary">保存修改</button>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <table id="school_area_table"
                               class="table-responsive"
                               data-id-field="id"
                               data-click-to-select="true"
                               data-url="{% url 'manage:school_areas' request.session.school_id %}">
                        </table>
                    </div>
                </div>
            </div>
        </div>
        {% if school_areas %}
            <!--学院信息表-->
            <div class="row">
                <div class="col-md-12">
                    <br>
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>学院信息表</h5>
                            <div class="ibox-tools">
                                <button id="add_institute_button" class="btn btn-primary">添加学院</button>
                                <button id="remove_institute_button" class="btn btn-danger" disabled>删除学院</button>
                                <button id="save_institute_button" class="btn btn-primary">保存修改</button>
                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <table id="institute_table"
                                   class="table-responsive"
                                   data-id-field="id"
                                   data-click-to-select="true"
                                   data-url="{% url 'manage:institutes' request.session.school_id %}">
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            {% if institutes %}
                <!--系别信息表-->
                <div class="row">
                    <div class="col-md-12">
                        <br>
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <h5>系别信息表</h5>
                                <div class="ibox-tools">
                                    <button id="add_department_button" class="btn btn-primary">添加系别</button>
                                    <button id="remove_department_button" class="btn btn-danger" disabled>删除系别</button>
                                    <button id="save_department_button" class="btn btn-primary">保存修改</button>
                                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                </div>
                            </div>
                            <div class="ibox-content">
                                <table id="department_table"
                                       class="table-responsive"
                                       data-id-field="id"
                                       data-click-to-select="true"
                                       data-url="{% url 'manage:departments' request.session.school_id %}">
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                {% if departments %}
                    <!--年级信息表-->
                    <div class="row">
                        <div class="col-md-12">
                            <br>
                            <div class="ibox float-e-margins">
                                <div class="ibox-title">
                                    <h5>年级信息表</h5>
                                    <div class="ibox-tools">
                                        <button id="add_grade_button" class="btn btn-primary">添加年级</button>
                                        <button id="remove_grade_button" class="btn btn-danger" disabled>删除年级</button>
                                        <button id="save_grade_button" class="btn btn-primary">保存修改</button>
                                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                    </div>
                                </div>
                                <div class="ibox-content">
                                    <table id="grade_table"
                                           class="table-responsive"
                                           data-id-field="id"
                                           data-click-to-select="true"
                                           data-url="{% url 'manage:grades' request.session.school_id %}">
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="pull-right" style="margin-right: 30px">
                        <a href="{% url 'manage:classes_manage' %}">
                            <button id="back" class="btn btn-primary" title="返回上一页">
                                前往设置班级 >>>
                            </button>
                        </a>
                    </div>
                {% else %}
                    <hr>
                    请先添加系别，有系别后可进行下一步设置
                {% endif %}
            {% else %}
                <hr>
                请先添加学院，有学院后可进行下一步设置
            {% endif %}
        {% else %}
            <hr>
            请先添加校区，有校区后可进行下一步设置，只有一个校区的建议填写 主校区
        {% endif %}
    {% else %}
        <hr>
        请先设置您的学校名称，设置完学校名称即可进行下一步设置
    {% endif %}
    <div align="left" style="margin-left: 20px">
        <a href="#" onClick="history.back(-1);">
            <button id="back" class="btn btn-primary" title="返回上一页">
                返回上一页
            </button>
        </a>
    </div>

{% endblock %}

{% block add_js_to_manage %}
    <!--全局性的参数或函数-->
    <script>
        var school_area_url = '{% url "manage:school_areas" request.session.school_id %}';
        var institute_url = '{% url "manage:institutes" request.session.school_id %}';
        var department_url = '{% url "manage:departments" request.session.school_id %}';
        var grade_url = '{% url "manage:grades" request.session.school_id %}';
    </script>


    <!--学校信息设置相关  开始-->
    <script>
        $(document).ready(function() {
            $('#school_name').editable({
                type: 'text',
                placeholder:'请设置您的学校',
                emptytext: '请设置您的学校',
            });
        });

        // 提交学校信息
        function submit_school(){
            var school_name = $('#school_name').html();
            console.log('提交学校信息：', school_name);
            if(school_name == empty_text){
                alert('请输入学校名称')
            }else{
                var ajax_type = null;
                {% if request.session.school_id %}
                    if(school_name != '{{ school.name }}'){
                        console.log('修改学校名称：', school_name);
                        ajax_type = 'PUT'
                    }
                {% else %}
                    console.log('创建学校：', school_name);
                    ajax_type = 'POST';
                {% endif %}
                if(ajax_type){
                    $.ajax({
                        url: "{% url 'manage:set_school' %}",
                        type: ajax_type,
                        data: JSON.stringify({"school_name":school_name}),
                        headers:{'X-CSRFToken':'{{ csrf_token }}'},
                        success: function (return_data) {
                            if(return_data.status){
                                window.location.reload();
                            }else{
                                alert(return_data.message);
                            }
                        }
                    });
                }
            }
        }
    </script>
    <!--学校信息设置相关  结束-->



    <!--学校校区表设置相关  开始-->
    <script>
        var school_area_table = $('#school_area_table');
        var remove_school_area_button = $('#remove_school_area_button');

        function init_school_area_table() {
            school_area_table.bootstrapTable('destroy').bootstrapTable({
                columns: [
                    [{
                        field: 'state',
                        checkbox: true,
                    }, {
                        title: '序号',
                        field: 'id',
                    }, {
                        field: 'school_area_name',
                        title: '校区名称<span class="need">*</span>',
                        editable:{
                            type:'text',
                        },
                    }, {
                        field: 'hide_school_area_name',
                    },{
                        field: 'id_in_database',
                    }]
                ]
            });
            // 隐藏校区名称隐藏列
            school_area_table.bootstrapTable('hideColumn', 'hide_school_area_name');
            set_a_table(school_area_table, remove_school_area_button, '校区');
        }

        $(function() {
            init_school_area_table();
            $('#locale').change(init_school_area_table);
        })
    </script>
    <!--学校校区表设置相关  结束-->

    <!--动态添加校区表格行 事件 开始-->
    <script>
        $("#add_school_area_button").click(function () {
            // 用index实现编号自增
            var index = school_area_table.bootstrapTable('getData').length;

            var new_row = {
                "id": index,
                "school_area_name":"",
            };
            // 最后插入该行
            school_area_table.bootstrapTable('insertRow', {
                index: index,
                row: new_row
            });
        });
    </script>
    <!--动态添加校区表格行 事件 结束-->

    <!--保存 修改或增加校区信息 后的表格 事件 开始 -->
    <script>
        $('#save_school_area_button').click(function () {
            var school_areas_table_data = school_area_table.bootstrapTable('getData');
            var pass = true;

            $('.not_null').remove();	 // 清除掉以前的错误信息

            $.each(school_areas_table_data, function (index, value) {
                if(value['school_area_name'] === empty_text || value['school_area_name'] == ""){
                    pass = false;
                    add_tip('school_area_table', index, 2)
                }
            });
            if(pass){
                common_create_put_post_data_simple(school_areas_table_data, '校区', 'school_area_name', 'hide_school_area_name', school_area_url)
            }
        })
    </script>
    <!--保存 修改或增加校区信息 后的表格 事件 结束 -->




    <!--学院表设置相关  开始-->
    <script>
        var institute_table = $('#institute_table');
        var remove_institute_button = $('#remove_institute_button');

        function init_institute_table() {
            institute_table.bootstrapTable('destroy').bootstrapTable({
                columns: [
                    [{
                        field: 'state',
                        checkbox: true,
                    }, {
                        title: '序号',
                        field: 'id',
                    },{
                        field:'school_area',
                        title: '所属校区<span class="need">*</span>',
                        editable:{
                            type:'select',
                            source: [
                                {% for school_area in school_areas %}
                                    { value: {{ school_area.id }}, text: '{{ school_area.name }}'},
                                {% empty %}
                                    { value:"", text: not_found_data},
                                {% endfor %}
                            ]
                        },
                    },{
                        field: 'institute_name',
                        title: '学院名称<span class="need">*</span>',
                        editable:{
                            type:'text',
                        },
                    }, {
                        field: 'hide_school_area_id',
                    },{
                        field: 'hide_institute_name',
                    },{
                        field:'id_in_database',
                    }]
                ]
            });
            // 隐藏校区id和学院名称隐藏列
            institute_table.bootstrapTable('hideColumn', 'hide_school_area_id');
            institute_table.bootstrapTable('hideColumn', 'hide_institute_name');
            set_a_table(institute_table, remove_institute_button, '学院');
        }

        $(function() {
            init_institute_table();
            $('#locale').change(init_institute_table);
        })
    </script>
    <!--学院表设置相关  结束-->

    <!--动态添加学院表格行 事件 开始-->
    <script>
        $("#add_institute_button").click(function () {
            // 用index实现编号自增
            var data = institute_table.bootstrapTable('getData');
            var index = data.length;

            var new_row = null;

            if(index === 0){
                new_row = {
                    "id": index,
                    "school_area": '{{ school_areas.0.id }}',
                    "institute_name": ""
                };
            }else{
                new_row = {
                    "id": index,
                    "school_area": data[index-1].school_area,
                    "institute_name": "",
                };
            }

            // 最后插入该行
            institute_table.bootstrapTable('insertRow', {
                index: index,
                row: new_row
            });
        });
    </script>
    <!--动态添加学院表格行 事件 结束-->

    <!--保存修改或增加学院信息后的表格 事件 开始 -->
    <script>
        $('#save_institute_button').click(function () {
            var institutes_table_data = institute_table.bootstrapTable('getData');
            var pass = true;

            $('.not_null').remove();	 // 清除掉以前的错误信息

            $.each(institutes_table_data, function (index, value) {
                if(value['school_area'] === empty_text || value['school_area'] == ""){
                    pass = false;
                    add_tip('institute_table', index, 2)
                }

                if(value['institute_name'] === empty_text || value['institute_name'] == ""){
                    pass = false;
                    add_tip('institute_table', index, 3)
                }
            });
            if(pass) {
                common_create_put_post_data(institutes_table_data, '学院', 'school_area', 'hide_school_area_id', 'institute_name', 'hide_institute_name', institute_url);
            }
        })
    </script>
    <!--保存修改或增加学院信息后的表格 事件 结束 -->



    <!--系别表设置相关  开始-->
    <script>
        var department_table = $('#department_table');
        var remove_department_button = $('#remove_department_button');

        function init_department_table() {
            department_table.bootstrapTable('destroy').bootstrapTable({
                columns: [
                    [{
                        field: 'state',
                        checkbox: true,
                    }, {
                        title: '序号',
                        field: 'id',
                    },{
                        field:'institute',
                        title: '所属学院<span class="need">*</span>',
                        editable:{
                            type:'select',
                            source: [
                                {% for institute in institutes %}
                                    { value: {{ institute.id }}, text: '{{ institute.name }}'},
                                {% empty %}
                                    { value:"", text: not_found_data},
                                {% endfor %}
                            ]
                        },
                    },{
                        field: 'department_name',
                        title: '系别名称<span class="need">*</span>',
                        editable:{
                            type:'text',
                        },
                    },{
                        field: 'hide_institute_id',
                    },{
                        field: 'hide_department_name',
                    },{
                        field:'id_in_database',
                    }]
                ]
            });
            // 隐藏学院id和系别名称隐藏列
            department_table.bootstrapTable('hideColumn', 'hide_institute_id');
            department_table.bootstrapTable('hideColumn', 'hide_department_name');
            set_a_table(department_table, remove_department_button, '系别');
        }

        $(function() {
            init_department_table();
            $('#locale').change(init_department_table);
        })
    </script>
    <!--系别表设置相关  结束-->

    <!--动态添加系别表格行 事件 开始-->
    <script>
        $("#add_department_button").click(function () {
            // 用index实现编号自增
            var data = department_table.bootstrapTable('getData');
            var index = data.length;

            var new_row = null;

            if(index === 0){
                new_row = {
                    "id": index,
                    "institute": {% if institutes %}{{ institutes.0.id }}{% else %}""{% endif %},
                    "department_name": ""
                };
            }else{
                new_row = {
                    "id": index,
                    "institute": data[index-1].institute,
                    "department_name": "",
                };
            }

            // 最后插入该行
            department_table.bootstrapTable('insertRow', {
                index: index,
                row: new_row
            });
        });
    </script>
    <!--动态添加系别表格行 事件 结束-->

    <!--保存修改或增加系别信息后的表格 事件 开始 -->
    <script>
        $('#save_department_button').click(function () {
            var departments_table_data = department_table.bootstrapTable('getData');
            var pass = true;

            $('.not_null').remove();	 // 清除掉以前的错误信息

            $.each(departments_table_data, function (index, value) {
                console.log(index, value);

                if(value['institute'] === empty_text || value['institute'] == ""){
                    pass = false;
                    add_tip('department_table', index, 2)
                }
                if(value['department_name'] === empty_text || value['department_name'] == ""){
                    pass = false;
                    add_tip('department_table', index, 3)
                }
            });

            if(pass) {
                common_create_put_post_data(departments_table_data, '系别', 'institute', 'hide_institute_id', 'department_name', 'hide_department_name', department_url);
            }
        })
    </script>
    <!--保存修改或增加系别信息后的表格 事件 结束 -->





    <!--年级表设置相关  开始-->
    <script>
        var grade_table = $('#grade_table');
        var remove_grade_button = $('#remove_grade_button');

        function init_grade_table() {
            grade_table.bootstrapTable('destroy').bootstrapTable({
                locale: $('#locale').val(),
                columns: [
                    [{
                        field: 'state',
                        checkbox: true,
                    }, {
                        title: '序号',
                        field: 'id',
                    },{
                        field:'department',
                        title: '所属系别<span class="need">*</span>',
                        editable:{
                            type:'select',
                            source: [
                                {% for department in departments %}
                                    { value: {{ department.id }}, text: '{{ department.name }}'},
                                {% empty %}
                                    { value:"", text: not_found_data},
                                {% endfor %}
                            ]
                        },
                    },{
                        field: 'grade_name',
                        title: '年级<span class="need">*</span>',
                        editable:{
                            type:'select',
                            source:[
                                {% for year in years %}
                                    {value: {{year}}, text:'{{ year }}'},
                                {% endfor %}
                            ]
                        },
                    },{
                        field: 'hide_department_id',
                    },{
                        field: 'hide_grade_name',
                    },{
                        field:'id_in_database',
                    }]
                ]
            });
            // 隐藏系别id和年级名称隐藏列
            grade_table.bootstrapTable('hideColumn', 'hide_department_id');
            grade_table.bootstrapTable('hideColumn', 'hide_grade_name');
            set_a_table(grade_table, remove_grade_button, '年级');
        }
        $(function() {
            init_grade_table();
            $('#locale').change(init_grade_table);
        })
    </script>
    <!--年级表设置相关  结束-->

    <!--动态添加年级表格行 事件 开始-->
    <script>
        $("#add_grade_button").click(function () {
            // 用index实现编号自增
            var data = grade_table.bootstrapTable('getData');
            var index = data.length;

            var new_row = null;

            if(index === 0){
                new_row = {
                    "id": index,
                    "department": {% if departments %}{{ departments.0.id }}{% else %}""{% endif %},
                    "grade_name": ""
                };
            }else{
                new_row = {
                    "id": index,
                    "department": data[index-1].department,
                    "grade_name": Number(data[index-1].grade_name)+1,
                };
            }

            // 最后插入该行
            grade_table.bootstrapTable('insertRow', {
                index: index,
                row: new_row
            });
        });
    </script>
    <!--动态添加年级表格行 事件 结束-->

    <!--保存修改或增加年级信息后的表格 事件 开始 -->
    <script>
        $('#save_grade_button').click(function () {
            var grades_table_data = grade_table.bootstrapTable('getData');
            var pass = true;

            $('.not_null').remove();	 // 清除掉以前的错误信息

            $.each(grades_table_data, function (index, value) {
                console.log(index, value);

                if(value['department'] === empty_text || value['department'] == ""){
                    pass = false;
                    add_tip('grade_table', index, 2)
                }
                if(value['grade_name'] === empty_text || value['grade_name'] == ""){
                    pass = false;
                    add_tip('grade_table', index, 3)
                }
            });
            if(pass){
                common_create_put_post_data(grades_table_data, '年级', 'department', 'hide_department_id', 'grade_name', 'hide_grade_name', grade_url);
            }
        })
    </script>
    <!--保存修改或增加年级信息后的表格 事件 结束 -->
{% endblock %}
