<!--super_user/teacher_manage.html-->

{% extends 'manage/base.html' %}

{% block add_css_to_manage %}{% endblock %}

{% block manage_body %}
    {% if departments %}
        <div class="row">
            <div class="col-md-12">
                <br>
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>教师信息表</h5>
                        <div class="ibox-tools">
                            <button id="add_teacher_button" class="btn btn-primary">添加教师</button>
                            <button id="remove_teacher_button" class="btn btn-danger" disabled>删除教师</button>
                            <button id="save_teacher_button" class="btn btn-primary">保存修改</button>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <table id="teacher_table"
                               class="table-responsive"
                               data-id-field="id"
                               data-response-handler="responseHandler"
                               data-click-to-select="true">
                        </table>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <hr>
        请先添加系别信息，有系别信息后可进行下一步设置 <a href="{% url 'manage:school_manage' %}">>>>前往添加</a>
    {% endif %}
    <div align="left" style="margin-left: 20px">
        <a href="#" onClick="history.back(-1);">
            <button id="back" class="btn btn-primary" title="返回上一页">
                返回上一页
            </button>
        </a>
    </div>
{% endblock %}

{% block add_js_to_manage %}
    <!--当前页面的全局设置-->
    <script>
        var from_url = "{% url 'manage:teacher_manage' %}";
    </script>



    <!--教师信息表设置相关  开始-->
    <script>
        var teacher_table = $('#teacher_table');
        var remove_teacher_button = $('#remove_teacher_button');
        var selections = [];

        function init_teacher_table() {
            console.log('init_teacher_table()执行');
            teacher_table.bootstrapTable('destroy').bootstrapTable({
                locale: $('#locale').val(),
                columns: [
                    [{
                        field: 'state',
                        checkbox: true,
                    }, {
                        title: '序号',
                        field: 'id',
                    },{
                        field:'department',
                        title: '所属系别<span class="need">*</span>',
                        editable:{
                            type:'select',
                            source: [
                                {% for department in departments %}
                                    { value: {{ department.id }}, text: '{{ department }}'},
                                {% empty %}
                                    { value:"", text: not_found_data},
                                {% endfor %}
                            ]
                        },
                    },{
                        field: 'teacher_name',
                        title: '教师姓名<span class="need">*</span>',
                        editable:{
                            type:'text',
                        },
                    },{
                        field: 'account',
                        title: '账号（工号）<span class="need">*</span>',
                        editable:{
                            type:'text',
                        },
                    },{
                        field: 'password',
                        title: '密码（默认为123456）<span class="need">*</span>',
                        editable:{
                            type:'text',
                        },
                    },{
                        field: 'phone',
                        title: '预留手机号码',
                        editable:{
                            type:'text',
                        },
                    },{
                        field:'id_in_database',
                    }]
                ]
            });

            set_a_table(from_url, teacher_table, remove_teacher_button, 'teachers');
        }

        function load_teacher(){
            console.log('load_teacher()执行');
            var index = 0;
            {% for teacher in teachers %}
                var new_row = {
                    "id": index,
                    'department': '{{ teacher.department.id }}',
                    'teacher_name': '{{ teacher.name }}',
                    'account': '{{ teacher.account }}',
                    'password': '{{ teacher.password }}',
                    'phone': {% if teacher.phone %}'{{ teacher.phone }}'{% else %}''{% endif %},
                    "id_in_database": '{{ teacher.id }}',
                };
                // 插入该行
                teacher_table.bootstrapTable('insertRow', {
                    index: index,
                    row: new_row
                });
                index = index + 1;
            {% empty %}
            {% endfor %}
        }

        $(function() {
            init_teacher_table();
            load_teacher();
            $('#locale').change(init_teacher_table);
        })
    </script>
    <!--教师信息表设置相关  结束-->

    <!--动态添加教师信息表格行 事件 开始-->
    <script>
        $("#add_teacher_button").click(function () {
            // 用index实现编号自增
            var data = teacher_table.bootstrapTable('getData');
            var index = data.length;

            var new_row = null;

            if(index == 0){
                new_row = {
                    "id": index,
                    "department": {% if departments %}{{ departments.0.id }}{% else %}""{% endif %},
                    "teacher_name": "",
                    "account": "",
                    "password": "123456",
                    "phone": "",
                };
            }else{
                new_row = {
                    "id": index,
                    "department": data[index-1].department,
                    "teacher_name": "",
                    "account": "",
                    "password": "123456",
                    "phone": "",
                };
            }

            // 最后插入该行
            teacher_table.bootstrapTable('insertRow', {
                index: index,
                row: new_row
            });
        });
    </script>
    <!--动态添加教师信息表格行 事件 结束-->

    <!--保存修改或增加教师信息后的表格 事件 开始 -->
    <script>
        $('#save_teacher_button').click(function () {
            var teachers = teacher_table.bootstrapTable('getData');

            var pass = true;

            $('.not_null').remove();	 // 清除掉以前的错误信息

            $.each(teachers, function (index, value) {
                console.log(index, value);

                if(value['department'] === empty_text || value['department'] == ""){
                    pass = false;
                    add_tip('teacher_table', index, 2)
                }

                if(value['teacher_name'] === empty_text || value['teacher_name'] == ""){
                    pass = false;
                    add_tip('teacher_table', index, 3)
                }

                if(value['account'] === empty_text || value['account'] == ""){
                    pass = false;
                    add_tip('teacher_table', index, 4)
                }

                if(value['password'] === empty_text || value['password'] == ""){
                    pass = false;
                    add_tip('teacher_table', index, 5)
                }
            });
            if(pass){
                save_ajax(from_url, 'teachers', teachers, '{{ school.id }}')
            }
        })
    </script>
    <!--保存修改或增加教师信息后的表格 事件 结束 -->
{% endblock %}