<!--manage/teacher_manage.html-->

{% extends 'manage/base.html' %}

{% block add_css_to_manage %}{% endblock %}

{% block manage_body %}
    {% if departments %}
        <div class="row">
            <div class="col-md-12">
                <br>
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>教师信息表</h5>
                        <div class="ibox-tools">
                            <button id="add_teacher_button" class="btn btn-primary">添加教师</button>
                            <button id="remove_teacher_button" class="btn btn-danger" disabled>删除教师</button>
                            <button id="save_teacher_button" class="btn btn-primary">保存修改</button>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <table id="teacher_table"
                               class="table-responsive"
                               data-id-field="id"
                               data-click-to-select="true"
                               data-url="{% url 'manage:teachers' request.session.school_id %}">
                        </table>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <hr>
        请先添加系别信息，有系别信息后可进行下一步设置 <a href="{% url 'manage:school_manage' %}">>>>前往添加</a>
        <p></p>
    {% endif %}
    <div align="left" style="margin-left: 20px">
        <a href="#" onClick="history.back(-1);">
            <button id="back" class="btn btn-primary" title="返回上一页">
                返回上一页
            </button>
        </a>
    </div>
{% endblock %}

{% block add_js_to_manage %}
    <!--全局的参数或函数-->
    <script>
        var teacher_url = "{% url 'manage:teachers' request.session.school_id %}";
    </script>

    <!--教师信息表设置相关  开始-->
    <script>
        var teacher_table = $('#teacher_table');
        var remove_teacher_button = $('#remove_teacher_button');

        function init_teacher_table() {
            teacher_table.bootstrapTable('destroy').bootstrapTable({
                columns: [
                    [{
                        field: 'state',
                        checkbox: true,
                    }, {
                        title: '序号',
                        field: 'id',
                    },{
                        field:'department',
                        title: '所属系别<span class="need">*</span>',
                        editable:{
                            type:'select',
                            source: [
                                {% for department in departments %}
                                    { value: {{ department.id }}, text: '{{ department }}'},
                                {% empty %}
                                    { value:"", text: not_found_data},
                                {% endfor %}
                            ]
                        },
                    },{
                        field: 'teacher_name',
                        title: '教师姓名<span class="need">*</span>',
                        editable:{
                            type:'text',
                        },
                    },{
                        field: 'account',
                        title: '账号（工号）<span class="need">*</span>',
                        editable:{
                            type:'text',
                        },
                    },{
                        field: 'password',
                        title: '密码（默认为123456）<span class="need">*</span>',
                        editable:{
                            type:'text',
                        },
                    },{
                        field: 'phone',
                        title: '预留手机号码',
                        editable:{
                            type:'text',
                        },
                    },{
                        field:'hide_department_id',
                    },{
                        field:'hide_teacher_name',
                    },{
                        field:'hide_account',
                    },{
                        field:'hide_password',
                    },{
                        field:'hide_phone',
                    },{
                        field:'id_in_database',
                    }]
                ]
            });
            // 隐藏一些id和名称隐藏列
            teacher_table.bootstrapTable('hideColumn', 'hide_department_id');
            teacher_table.bootstrapTable('hideColumn', 'hide_teacher_name');
            teacher_table.bootstrapTable('hideColumn', 'hide_account');
            teacher_table.bootstrapTable('hideColumn', 'hide_password');
            teacher_table.bootstrapTable('hideColumn', 'hide_phone');
            set_a_table(teacher_table, remove_teacher_button, '教师');
        }

        $(function() {
            init_teacher_table();
            $('#locale').change(init_teacher_table);
        })
    </script>
    <!--教师信息表设置相关  结束-->

    <!--动态添加教师信息表格行 事件 开始-->
    <script>
        $("#add_teacher_button").click(function () {
            // 用index实现编号自增
            var data = teacher_table.bootstrapTable('getData');
            var index = data.length;

            var new_row = null;

            if(index === 0){
                new_row = {
                    "id": index,
                    "department": {% if departments %}{{ departments.0.id }}{% else %}""{% endif %},
                    "teacher_name": "",
                    "account": "",
                    "password": "123456",
                    "phone": "",
                };
            }else{
                new_row = {
                    "id": index,
                    "department": data[index-1].department,
                    "teacher_name": "",
                    "account": "",
                    "password": "123456",
                    "phone": "",
                };
            }

            // 最后插入该行
            teacher_table.bootstrapTable('insertRow', {
                index: index,
                row: new_row
            });
        });
    </script>
    <!--动态添加教师信息表格行 事件 结束-->

    <!--保存修改或增加教师信息后的表格 事件 开始 -->
    <script>
        $('#save_teacher_button').click(function () {
            var teacher_table_data = teacher_table.bootstrapTable('getData');
            var pass = true;

            $('.not_null').remove();	 // 清除掉以前的错误信息

            $.each(teacher_table_data, function (index, value) {
                if(value['department'] === empty_text || value['department'] == ""){
                    pass = false;
                    add_tip('teacher_table', index, 2)
                }

                if(value['teacher_name'] === empty_text || value['teacher_name'] == ""){
                    pass = false;
                    add_tip('teacher_table', index, 3)
                }

                if(value['account'] === empty_text || value['account'] == ""){
                    pass = false;
                    add_tip('teacher_table', index, 4)
                }

                if(value['password'] === empty_text || value['password'] == ""){
                    pass = false;
                    add_tip('teacher_table', index, 5)
                }
            });
            if(pass){
                var put_data = [];
                var post_data = [];
                for(var i = 0; i < teacher_table_data.length; i++){
                    console.log('教师', '-通过数据行是否有数据库id来作为新旧数据的依据， 序号：', i, '行的数据库id：', teacher_table_data[i]['id_in_database']);

                    if(teacher_table_data[i]['id_in_database']){
                        // 数据有修改才需要提交
                        var temp = {'id': teacher_table_data[i]['id_in_database'],};
                        var change = false;
                        if(teacher_table_data[i]['hide_department_id'] !== teacher_table_data[i]['department']){
                            temp['department_id'] = teacher_table_data[i]['department'];
                            change = true;
                        }
                        if(teacher_table_data[i]['hide_teacher_name'] !== teacher_table_data[i]['teacher_name']){
                            temp['name'] = teacher_table_data[i]['teacher_name'];
                            change = true;
                        }
                        if(teacher_table_data[i]['hide_account'] !== teacher_table_data[i]['account']){
                            temp['account'] = teacher_table_data[i]['account'];
                            change = true;
                        }
                        if(teacher_table_data[i]['hide_password'] !== teacher_table_data[i]['password']){
                            temp['password'] = teacher_table_data[i]['password'];
                            change = true;
                        }
                        if(teacher_table_data[i]['hide_phone'] !== teacher_table_data[i]['phone']){
                            temp['phone'] = teacher_table_data[i]['phone'];
                            change = true;
                        }
                        if(change) {
                            put_data.push(temp)
                        }
                    }else{
                        var temp = {};
                        temp['department_id'] = teacher_table_data[i]['department'];
                        temp['name'] = teacher_table_data[i]['teacher_name'];
                        temp['account'] = teacher_table_data[i]['account'];
                        temp['password'] = teacher_table_data[i]['password'];
                        temp['phone'] = teacher_table_data[i]['phone'];
                        post_data.push(temp)
                    }
                }
                if(put_data.length > 0){
                    console.log('教师', '-存在修改数据：', put_data);
                    common_ajax(teacher_url, 'PUT', put_data);
                }
                if(post_data.length > 0){
                    console.log('教师', '-存在新增数据：', post_data);
                    common_ajax(teacher_url, 'POST', post_data);
                }
                if(delete_ids_in_database.length > 0){
                    console.log('教师', '-删除的ids：', delete_ids_in_database);
                    common_ajax(teacher_url, 'DELETE', delete_ids_in_database);
                }
            }
        })
    </script>
    <!--保存修改或增加教师信息后的表格 事件 结束 -->
{% endblock %}