<!--manage/weeks_timetable.html-->

{% extends 'manage/base.html' %}

{% block add_css_to_manage %}
    <!--固定列表头所需的样式依赖-->
    <link rel="stylesheet" href="/static/css_js/css/fixed-columns/bootstrap-table-fixed-columns.css">
    <style>
        .course_div{
            font-weight: bold;
            color: rgb(57,50,44);
            padding: 2%;
            margin: 5px;
        }
        .color1_div{ background:rgb(235,175,121);}
        .color2_div{ background:rgb(96,109,128);}
        .color3_div{ background:rgb(155,168,183);}
        .color4_div{ background:rgb(165,156,173);}
        .color5_div{ background:rgb(208,197,184);}
        .color6_div{ background:rgb(181,139,114);}
        .color7_div{ background:rgb(224,208,175);}
        .color8_div{ background:rgb(164,154,129);}
        .color9_div{ background:rgb(183,157,155);}
        .color10_div{ background:rgb(237,181,165);}
        .color11_div{ background:rgb(222,234,234);}
        .color12_div{ background:rgb(243,233,201);}
        .color13_div{ background:rgb(208,208,226);}
    </style>
{% endblock %}

{% block manage_body %}
    <div class="row">
        <div class="col-sm-4 m-b-xs">
            <select class="form-control" id="institutes_select">
                {% for institute in institutes %}
                    {% if request.session.weeks_timetable_selected_data.selected_institute_id|urlencode:"" == institute.id|urlencode:"" %}
                        <option value="{{ institute.id }}" selected="selected">{{ institute.name }}</option>
                    {% else %}
                        <option value="{{ institute.id }}">{{ institute.name }}</option>
                    {% endif %}
                {% empty %}
                    <option>暂无数据</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-sm-4 m-b-xs">
            <select class="form-control" id="week_select">
                {% for week in which_week %}
                    {% if request.session.weeks_timetable_selected_data.selected_which_week|urlencode:"" == week|urlencode:"" %}
                        <option value="{{ week }}" selected="selected">第 {{ week }} 周</option>
                    {% else %}
                        <option value="{{ week }}">第 {{ week }} 周</option>
                    {% endif %}
                {% empty %}
                    <option>暂无数据</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-sm-4 m-b-xs">
            <select class="form-control" id="day_of_the_week_select">
                {% for day in days_of_the_week %}
                    {% if request.session.weeks_timetable_selected_data.selected_days_of_the_week|urlencode:"" == day|urlencode:"" %}
                        <option value="{{ day }}" selected="selected">星期{{ day }}</option>
                    {% else %}
                        <option value="{{ day }}">星期{{ day }}</option>
                    {% endif %}
                {% empty %}
                    <option>暂无数据</option>
                {% endfor %}
            </select>
        </div>
    </div><br>
    <div class="table-responsive">
        <table class="table table-bordered table-hover" id="week_timetable_table"
               data-toggle="table"
               data-classes="table table-hover"
{#               data-show-columns="true"#}
{#               data-striped="true"#}
{#               data-show-toggle="true"#}
{#               data-search="true"#}
{#               data-show-refresh="true"#}
{#               data-toolbar="#toolbar"#}
{#               data-height="600"#}
               align="center">
        </table>
    </div>
{% endblock %}

{% block add_js_to_manage %}
    <!--固定列的js-->
    <script src="/static/css_js/js/fixed-columns/bootstrap-table-fixed-columns.js"></script>
    <script src="/static/css_js/js/unite-table.js"></script>

    <!--固定列-->
    <script>
        $(function () {
            $('#week_timetable_table').bootstrapTable('destroy').bootstrapTable({
                minimumCountColumns:4,
                fixedColumns:true,
                fixedNumber:2,
            });
        })
    </script>

    <!--下拉框选择新选项后触发事件-->
    <script>
        function get_3_selected_data(){
            var selected_institute_id = $('#institutes_select').val();
            var selected_which_week = $('#week_select').val();
            var selected_days_of_the_week = $('#day_of_the_week_select').val();
            var data = {
                'selected_institute_id': selected_institute_id,
                'selected_which_week': selected_which_week,
                'selected_days_of_the_week': selected_days_of_the_week,
            };
            return(data);
        }

        $("#institutes_select").change(function () {
            $.ajax({
                url: '{% url 'manage:weeks_timetable' %}',
                type:'GET',
                data: get_3_selected_data(),
                success: function (data) {
                    window.location.reload();
                }
            });
        });

        $("#week_select").change(function () {
            $.ajax({
                url: '{% url 'manage:weeks_timetable' %}',
                type:'GET',
                data: get_3_selected_data(),
                success: function (data) {
                    window.location.reload();
                }
            });
        });

        $("#day_of_the_week_select").change(function () {
            $.ajax({
                url: '{% url 'manage:weeks_timetable' %}',
                type:'GET',
                data: get_3_selected_data(),
                success: function (data) {
                    window.location.reload();
                }
            });
        });
    </script>

    <script>
        function initTable() {
            $('#week_timetable_table').bootstrapTable('destroy').bootstrapTable({
                sidePagination: "server",
                type:'GET',
                url: '{% url "manage:weeks_timetable_schedule" %}',
                locale: $('#locale').val(),
                onLoadSuccess: function (data) {
                    uniteTable('week_timetable_table');
                },
                columns: [
                    {
                        field: 'days_of_the_week',
                        title: '星期',
                    }, {
                        field: 'section',
                        title: '节次',
                    },
                    {% for lab in labs %}
                        {
                            field: '{{ lab.name }}',
                            title: '{{ lab.name }}',
                        },
                    {% endfor %}
                ],
            });
        }

        $(function() {
            initTable();
            $('#locale').change(initTable);
        })
    </script>
{% endblock %}
