<!--super_manage/application_manage.html-->

{% extends 'super_manage/base.html' %}
{% block add_css_to_super_manage %}{% endblock %}

{% block super_manage_body %}
    <div class="ibox float-e-margins">
        <div class="ibox-title row">
            <h5>实验申请表审批 </h5>
        </div>
        <div class="ibox-content">
            <div class="table-responsive">
                <table id="applications_table"
                       class="table table-striped table-hover"
                       data-toggle="table"
                       data-detail-formatter="detailFormatter"
                       data-minimum-count-columns="2"
                       data-id-field="id"
                       data-side-pagination="server"
                       data-response-handler="responseHandler">
                    <thead><tr>
                        <th data-field="no" data-sortable="true">序号</th>
                        <th data-field="teacher">授课教师</th>
                        <th data-field="term" data-sortable="true">学年学期</th>
                        <th data-field="course" data-sortable="true">课程</th>
                        <th data-field="teaching_materials">实验教材</th>
                        <th data-field="experiments_amount" data-sortable="true">实验项数</th>
                        <th data-field="classes" data-sortable="true">教学班级</th>
                        <th data-field="create_time" data-sortable="true">创建时间</th>
                        <th data-field="status" data-sortable="true">状态</th>
                        <th>查看详情</th>
                        {% if superuser %}
                            <th>审核</th>
                        {% endif %}
                    </tr></thead>
                    <tbody>
                    {% for x in courses %}
                        <tr>
                            <td>{{ x.no }}</td>
                            <td>{{ x.teachers }}</td>
                            <td>{{ x.term }}</td>
                            <td id="{{ x.id }}">{{ x.course }}</td>
                            <td>{{ x.teaching_materials }}</td>
                            <td>{{ x.experiments_amount }}</td>
                            <td>{{ x.classes | safe }}</td>
                            <td>{{ x.create_time }}</td>
                            <td>{{ x.status }}</td>
                            <td><button class="see_more_button btn btn-primary btn-xs">查看详情</button></td>
                            {% if superuser %}
                                <td>
                                    <button class="pass_button btn btn-primary btn-xs">通过</button>
                                    <button class="not_pass_button btn btn-primary btn-xs">不通过</button>
                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block add_js_to_super_manage %}
    <script>
        $(document).ready(function() {
            $('.see_more_button').click(function () {
                var course_id = $(this).parents("tr").children("td:nth-child(4)").attr('id');
                console.log('点击查看详情的行：', course_id);

                var url = "{% url 'apply_experiments:change_experiments' 'course_id' %}";
                url = url.replace('course_id', course_id);
                window.location.href=url;
            });
            $('.pass_button').click(function () {
                var course_id = $(this).parents("tr").children("td:nth-child(4)").attr('id');
                console.log('点击审核通过的行：', course_id);
                var url = "{% url 'super_manage:application_check' 'course_id' '3' %}";
                url = url.replace('course_id', course_id);
                window.location.href=url;
            });
            $('.not_pass_button').click(function () {
                var course_id = $(this).parents("tr").children("td:nth-child(4)").attr('id');
                console.log('点击审核不通过的行：', course_id);
                var url = "{% url 'super_manage:application_check' 'course_id' '2' %}";
                url = url.replace('course_id', course_id);
                window.location.href=url;
            });
        });
    </script>
{% endblock %}
