<!--super_manage/arrange.html-->

{% extends 'super_manage/base.html' %}

{% block add_css_to_super_manage %}
    <!--固定列表头所需的样式依赖-->
    <link rel="stylesheet" href="/static/css_js/css/fixed-columns/bootstrap-table-fixed-columns.css">
    <style>
        .course_div{
            background: #1AB394;
            margin: 5% 10% 5%;
        }
    </style>
{% endblock %}

{% block super_manage_body %}
    <div class="table-responsive">
        <table class="table table-bordered table-hover" id="week_schedule_table"
               data-toggle="table"
               data-classes="table table-hover"
               data-show-columns="true"
               data-striped="true"
               data-show-toggle="true"
               data-search="true"
               data-show-refresh="true"
               data-toolbar="#toolbar"
               data-height="600"
               align="center">
        </table>
    </div>
{% endblock %}

{% block add_js_to_super_manage %}
    <!--固定列的js-->
    <script src="/static/css_js/js/fixed-columns/bootstrap-table-fixed-columns.js"></script>
    <!--固定列的设置-->
    <script>
        $(function () {
            $('#week_schedule_table').bootstrapTable('destroy').bootstrapTable({
                minimumCountColumns:4,
                fixedColumns:true,
                fixedNumber:3,
            });
        })
    </script>


    <script>
        var rowCount = null; //   全局的行数
        var colCount = null; //   全局的列数

        function initTable() {
            $('#week_schedule_table').bootstrapTable('destroy').bootstrapTable({
                sidePagination: "server",
                url: '{% url "super_manage:schedule" school.id %}',
                height: 800,
                locale: $('#locale').val(),
                onLoadSuccess: function (data) {
                    uniteTable('week_schedule_table');
                    set_drag();
                },
                columns: [
                    {
                        field: 'days_of_the_week',
                        title: '星期',
                    }, {
                        field: 'section',
                        title: '节次',
                    },
                    {% for lab in labs %}
                        {
                            field: '{{ lab.name }}',
                            title: '{{ lab.name }}',
                        },
                    {% endfor %}
                ],
            });
        }


        //动态合并单元格
        function uniteTable(tableId) {//表格ID，表格列数
            var tb=document.getElementById(tableId);
            tb.style.display='';
            var i = 0;
            var j = 0;
            rowCount = tb.rows.length; //   行数
            colCount = tb.rows[0].cells.length; //   列数

            console.log('行列数:', rowCount, colCount);

            var obj1 = null;
            var obj2 = null;
            //为每个单元格命名，包括表头
            for (i = 0; i < rowCount; i++) {
                for (j = 0; j < colCount; j++) {
                    tb.rows[i].cells[j].id = "tb__" + i.toString() + "_" + j.toString();
                    // console.log(tb.rows[i].cells[j], tb.rows[i].cells[j].id);
                }
            }

            //合并列，在本程序，应该先做行方向上的合并，因为课程往往是有多个实验室，而在一周的一串节次内，基本都是合并后的一整个大单元格
            for (i = 1; i < rowCount; i++) {    // i作为行标
                // 不能这样用：obj1 = document.getElementById(tb.rows[i].cells[2].id);
                obj1 = document.getElementById("tb__"+i.toString()+"_2");   // 从每一行的第3列开始取单元格对象元素，因为星期和节次不需要做列合并
                console.log('合并列，目前行和obj1：', i, obj1);

                for (j = 3; j < colCount; j++) {    // 从第4列开始取每一行的单元格作为下一个判断对象
                    if(document.getElementById("tb__"+i.toString()+"_"+j.toString())){
                        console.log('存在obj2：',document.getElementById("tb__"+i.toString()+"_"+j.toString()));

                        console.log('现在的obj1和obj2分别为：', obj1, obj2, '处于第', i, '行，第', j, '列');

                        obj2 = document.getElementById("tb__"+i.toString()+"_"+j.toString());
                        if (obj1.innerText === obj2.innerText && (obj2.innerText !== "")) {
                            obj1.colSpan++;
                            console.log('删除第', i, '行，第', j, '列的元素');
                            obj2.parentNode.removeChild(obj2);
                        } else {
                            obj1 = obj2;
                        }
                    }else{
                        console.log('不存在第', i, '行，第', j, '列的元素');
                    }
                }
            }

            //合并行
            for (i = 0; i < colCount; i++) {    // i作为列标
                if(i !== 1) {   // i==1时，是节次那一列，这列不用合并

                    // 由于前面已经处理了列的合并，有一些列的开头是没有单元格了的，所以要经过一轮当前列的循环找到第一个非空的单元格
                    var k = 1;  // 从第二行开始，也就是表体开始，因为第一行是表头
                    for(k; k < rowCount; k++){
                        if(document.getElementById("tb__"+ k.toString()+ "_" + i.toString())) {
                            obj1 = document.getElementById("tb__"+ k.toString()+ "_" + i.toString());
                            break;
                        }
                    }
                    if(obj1){
                        for (j=k+1; j < rowCount; j++) {    // 这里的j是用来取obj2的，所以要+1
                            if (document.getElementById("tb__" + j.toString() + "_" + i.toString())) {
                                obj2 = document.getElementById("tb__" + j.toString() + "_" + i.toString());

                                console.log('现在的obj1和obj2分别为：', obj1, obj2, '处于第', j, '行，第', i, '列');

                                if (obj1.innerText === obj2.innerText && (obj2.innerText !== "")) {
                                    if(obj1.getAttribute("colspan") === obj2.getAttribute("colspan")) {
                                        console.log('obj1和obj2的跨列数：', obj1.colspan,obj2.colspan);
                                        obj1.rowSpan++;
                                        console.log('删除第', j, '行，第', i, '列的元素');
                                        obj2.parentNode.removeChild(obj2);
                                    }
                                } else {
                                    obj1 = document.getElementById("tb__" + j.toString() + "_" + i.toString());
                                }
                            } else {
                                console.log('不存在第', j, '行，第', i, '列的元素');
                            }
                        }
                    }
                }
            }
        }

        $(function() {
            initTable();
            $('#locale').change(initTable);
        })
    </script>


    <!--拖拽实现-->
    <script>
        function set_drag() {
            console.log("set_drag()执行");

            // 每个课程都是一个div，下面这是所有课程div集合
            var all_course_div = document.getElementsByClassName("course_div");
            // 等下需要对表格的所有单元格进行操作
            var courses_table = document.getElementById("week_schedule_table");
            var all_tds = courses_table.getElementsByTagName("td");
            var temp = null;     // 作为过渡器件，存放被拖拽对象
            var temp_parents = null;    // 用来作为记录拖拽前所在父节点（单元格），最后会用到它的跨行列信息

            // 对所有可被拖拽的对象设置事件
            for (var i=0; i<all_course_div.length; i++) {
                all_course_div[i].onselectstart = function() {
                    return false;
                };
                all_course_div[i].ondragstart = function(ev) {
                    /*拖拽开始*/
                    //拖拽效果
                    ev.dataTransfer.effectAllowed = "move";
                    ev.dataTransfer.setData("text", ev.target.innerHTML);
                    ev.dataTransfer.setDragImage(ev.target, 0, 0);
                    console.log('target_parent:', ev.currentTarget.parentElement);
                    temp_parents = ev.currentTarget.parentElement;
                    temp = ev.target;
                    return true;
                };
                all_course_div[i].ondragend = function(ev) {
                    /*拖拽结束*/
                    ev.dataTransfer.clearData("text");
                    temp = null;
                    temp_parents = null;
                    return false
                };
            }

            // 给所有单元格td绑定事件
            console.log('表格的行数(包括表头)：', rowCount, '表格的列数：', colCount);
            for(var i=colCount; i<all_tds.length; i++){     // 第一行是目前用来处理一个bug的，所以不用给它绑定事件

                var reg01 = RegExp(/tb__[0-9]+_[01]/);

                if(reg01.test(all_tds[i].id)){
                    // 位于前两列的数据不需要绑定事件
                    console.log('位于前两列：', all_tds[i].id);
                }else{
                    var td = document.getElementById(all_tds[i].id);

                    td.ondragover = function (ev) {
                        // 拖拽元素在目标元素头上移动的时候
                        ev.preventDefault();
                        return true;
                    };

                    td.ondragenter = function (ev) {
                        // 拖拽元素进入目标元素头上的时候
                        this.style.color = "#ffffff";
                        return true;
                    };

                    td.ondrop = function (ev) {
                        // 拖拽元素进入目标元素头上，同时鼠标松开的时候
                        if (temp) {
                            var current_td = ev.target;
                            if(temp_parents.parentNode.rowIndex === current_td.parentNode.rowIndex){
                                console.log('跨行：', temp_parents.getAttribute("rowspan"), '跨列：', temp_parents.getAttribute("colspan"));
                                current_td.setAttribute("rowspan", temp_parents.getAttribute("rowspan"));
                                current_td.setAttribute("colspan", temp_parents.getAttribute("colspan"));
                                current_td.appendChild(temp);

                                {#temp_parents.setAttribute("rowspan", 1);#}
                                {#temp_parents.setAttribute("colspan", 1);#}
                            }
                        }
                        this.style.color = "#000000";
                        return false;
                    };
                }
            }
        }
    </script>
{% endblock %}
