<!--super_user/classes_manage.html-->

{% extends 'super_manage/base.html' %}

{% block add_css_to_super_manage %}{% endblock %}

{% block super_manage_body %}
    {% if grades %}
        <div class="row">
            <div class="col-md-12">
                <br>
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>班级信息表</h5>
                        <div class="ibox-tools">
                            <button id="add_classes_button" class="btn btn-primary">添加班级</button>
                            <button id="save_classes_button" class="btn btn-primary">保存修改</button> |
                            <button id="remove_classes_button" class="btn btn-danger" disabled>删除班级</button>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <table id="classes_table"
                               class="table-responsive"
                               data-id-field="id"
                               data-response-handler="responseHandler"
                               data-click-to-select="true">
                        </table>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <hr>
        请先添加年级信息，有年级信息后可进行下一步设置 <a href="{% url 'super_manage:school_manage' %}">>>>前往添加</a>
    {% endif %}
{% endblock %}

{% block add_js_to_super_manage %}
    <!--当前页面的全局设置-->
    <script>
        var from_url = "{% url 'super_manage:classes_manage' %}";
    </script>


    <!--班级表设置相关  开始-->
    <script>
        var classes_table = $('#classes_table');
        var remove_classes_button = $('#remove_classes_button');
        var selections = [];

        function init_classes_table() {
            console.log('init_classes_table()执行');
            classes_table.bootstrapTable('destroy').bootstrapTable({
                locale: $('#locale').val(),
                columns: [
                    [{
                        field: 'state',
                        checkbox: true,
                    }, {
                        title: '序号',
                        field: 'id',
                    },{
                        field:'grade',
                        title: '所属年级<span class="need">*</span>',
                        editable:{
                            type:'select',
                            source: [
                                {% for grade in grades %}
                                    { value: {{ grade.id }}, text: '{{ grade }}'},
                                {% empty %}
                                    { value:"", text: not_found_data},
                                {% endfor %}
                            ]
                        },
                    },{
                        field: 'classes_name',
                        title: '班级名称(建议直接填班级数字)<span class="need">*</span>',
                        editable:{
                            type:'text',
                        },
                    },{
                        field:'id_in_database',
                    }]
                ]
            });

            set_a_table(from_url, classes_table, remove_classes_button, 'classes');
        }

        function load_classes(){
            console.log('load_classes()执行');
            var index = 0;
            {% for classes_item in classes %}
                var new_row = {
                    "id": index,
                    'grade': '{{ classes_item.grade.id }}',
                    'classes_name': '{{ classes_item.name }}',
                    "id_in_database": '{{ classes_item.id }}',
                };
                // 插入该行
                classes_table.bootstrapTable('insertRow', {
                    index: index,
                    row: new_row
                });
                index = index + 1;
            {% empty %}
            {% endfor %}
        }

        $(function() {
            init_classes_table();
            load_classes();
            $('#locale').change(init_classes_table);
        })
    </script>
    <!--班级表设置相关  结束-->

    <!--动态添加班级表格行 事件 开始-->
    <script>
        $("#add_classes_button").click(function () {
            // 用index实现编号自增
            var data = classes_table.bootstrapTable('getData');
            var index = data.length;

            var new_row = null;

            if(index == 0){
                new_row = {
                    "id": index,
                    "grade": "",
                    "classes_name": ""
                };
            }else{
                new_row = {
                    "id": index,
                    "grade": data[index-1].grade,
                    "classes_name": data[index-1].classes_name,
                };
            }

            // 最后插入该行
            classes_table.bootstrapTable('insertRow', {
                index: index,
                row: new_row
            });
        });
    </script>
    <!--动态添加班级表格行 事件 结束-->

    <!--保存修改或增加班级信息后的表格 事件 开始 -->
    <script>
        $('#save_classes_button').click(function () {
            var classes = classes_table.bootstrapTable('getData');

            if(classes.length !== 0){
                var pass = true;
                $.each(classes, function (index, value) {
                    console.log(index, value);

                    if(value['classes_name'] === empty_text || value['classes_name'] == ""){
                        pass = false;
                        window.alert('提交失败，班级 '+index+'的名称不可以为空');
                        return pass
                    }

                    if(value['grade'] === empty_text || value['grade'] == ""){
                        pass = false;
                        window.alert('提交失败，请选择班级'+index+'所属年级');
                        return pass
                    }
                });
                if(pass){
                    save_ajax(from_url, 'classes', classes, '{{ school.id }}')
                }
            }
        })
    </script>
    <!--保存修改或增加班级信息后的表格 事件 结束 -->
{% endblock %}