<!--super_user/labs_attribute_manage.html-->

{% extends 'super_manage/base.html' %}

{% block add_css_to_super_manage %}{% endblock %}

{% block super_manage_body %}
    {% if superuser.school %}
    <div class="row">
        <div class="col-md-12">
            <br>
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>实验室属性信息表</h5>
                    <div class="ibox-tools">
                        <button id="add_labs_attribute_button" class="btn btn-primary">添加实验室属性</button>
                        <button id="save_labs_attribute_button" class="btn btn-primary">保存修改</button> |
                        <button id="remove_labs_attribute_button" class="btn btn-danger" disabled>删除实验室属性</button>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </div>
                </div>
                <div class="ibox-content">
                    <table id="labs_attribute_table"
                           class="table-responsive"
                           data-id-field="id"
                           data-response-handler="responseHandler"
                           data-click-to-select="true">
                    </table>
                </div>
            </div>
        </div>
    </div>
    {% else %}
        <a href="{% url 'super_manage:school_manage' %}">还没有学校信息，请先添加学校信息 >>> </a>
    {% endif %}
{% endblock %}

{% block add_js_to_super_manage %}
    <!--当前页面的全局设置-->
    <script>
        var from_url = "{% url 'super_manage:labs_attribute_manage' %}";
    </script>



    <!--实验室属性信息表设置相关  开始-->
    <script>
        var labs_attribute_table = $('#labs_attribute_table');
        var remove_labs_attribute_button = $('#remove_labs_attribute_button');
        var selections = [];

        function init_labs_attribute_table() {
            console.log('init_labs_attribute_table()执行');
            labs_attribute_table.bootstrapTable('destroy').bootstrapTable({
                locale: $('#locale').val(),
                columns: [
                    [{
                        field: 'state',
                        checkbox: true,
                    }, {
                        title: '序号',
                        field: 'id',
                    },{
                        field: 'labs_attribute_name',
                        title: '属性名称<span class="need">*</span>',
                        editable:{
                            type:'text',
                        },
                    },{
                        field:'id_in_database',
                    }]
                ]
            });

            set_a_table(from_url, labs_attribute_table, remove_labs_attribute_button, 'labs_attributes');
        }

        function load_labs_attribute(){
            console.log('load_labs_attribute()执行');
            var index = 0;
            {% for labs_attribute in labs_attributes %}
                var new_row = {
                    "id": index,
                    'labs_attribute_name': '{{ labs_attribute.name }}',
                    "id_in_database": '{{ labs_attribute.id }}',
                };
                // 插入该行
                labs_attribute_table.bootstrapTable('insertRow', {
                    index: index,
                    row: new_row
                });
                index = index + 1;
            {% empty %}
            {% endfor %}
        }

        $(function() {
            init_labs_attribute_table();
            load_labs_attribute();
            $('#locale').change(init_labs_attribute_table);
        })
    </script>
    <!--实验室属性信息表设置相关  结束-->

    <!--动态添加实验室属性信息表格行 事件 开始-->
    <script>
        $("#add_labs_attribute_button").click(function () {
            // 用index实现编号自增
            var data = labs_attribute_table.bootstrapTable('getData');
            var index = data.length;

            var new_row = {
                "id": index,
                "labs_attribute_name": "",
            };

            // 最后插入该行
            labs_attribute_table.bootstrapTable('insertRow', {
                index: index,
                row: new_row
            });
        });
    </script>
    <!--动态添加实验室属性信息表格行 事件 结束-->

    <!--保存修改或增加实验室属性信息后的表格 事件 开始 -->
    <script>
        $('#save_labs_attribute_button').click(function () {
            var labs_attributes = labs_attribute_table.bootstrapTable('getData');

            if(labs_attributes.length !== 0){
                var pass = true;
                $.each(labs_attributes, function (index, value) {
                    console.log(index, value);

                    if(value['labs_attribute_name'] === empty_text || value['labs_attribute_name'] == ""){
                        pass = false;
                        window.alert('提交失败，实验室属性 '+index+'的名称不可以为空');
                        return pass
                    }
                });
                if(pass){
                    save_ajax(from_url, 'labs_attributes', labs_attributes, '{{ school.id }}')
                }
            }
        })
    </script>
    <!--保存修改或增加实验室属性信息后的表格 事件 结束 -->
{% endblock %}