<!--super_user/school_manage.html-->

{% extends 'super_manage/base.html' %}

{% block add_css_to_super_manage %}
    <style>
        #school_name{
            height: 40px;
            position: absolute;
        }
    </style>
{% endblock %}

{% block super_manage_body %}
    <div class="row">
        <div class="col-md-4 col-sm-10 col-xs-10">
            &nbsp;&nbsp;&nbsp;&nbsp;
            <label for="school_name">学校名称<span class="need">*</span>：</label> <a id="school_name">{{ school.name }}</a>
            <a onclick="submit_school()" title="保存修改" class="pull-right"><i class="fa fa-save"></i></a>
        </div>
    </div>

    {% if school.name %}
        <div class="row">
            <div class="col-md-12">
                <br>
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>校区信息表</h5>
                        <div class="ibox-tools">
                            <button id="add_school_area_button" class="btn btn-primary">添加校区</button>
                            <button id="remove_school_area_button" class="btn btn-danger" disabled>删除校区</button>
                            <button id="save_school_area_button" class="btn btn-primary">保存修改</button>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <table id="school_area_table"
                               class="table-responsive"
                               data-id-field="id"
                               data-response-handler="responseHandler"
                               data-click-to-select="true">
                        </table>
                    </div>
                </div>
            </div>
        </div>
        {% if school_areas %}
            <div class="row">
                <div class="col-md-12">
                    <br>
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>学院信息表</h5>
                            <div class="ibox-tools">
                                <button id="add_institute_button" class="btn btn-primary">添加学院</button>
                                <button id="remove_institute_button" class="btn btn-danger" disabled>删除学院</button>
                                <button id="save_institute_button" class="btn btn-primary">保存修改</button>
                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <table id="institute_table"
                                   class="table-responsive"
                                   data-id-field="id"
                                   data-response-handler="responseHandler"
                                   data-click-to-select="true">
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            {% if institutes %}
                <div class="row">
                    <div class="col-md-12">
                        <br>
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <h5>系 信息表</h5>
                                <div class="ibox-tools">
                                    <button id="add_department_button" class="btn btn-primary">添加 系</button>
                                    <button id="remove_department_button" class="btn btn-danger" disabled>删除 系</button>
                                    <button id="save_department_button" class="btn btn-primary">保存修改</button>
                                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                </div>
                            </div>
                            <div class="ibox-content">
                                <table id="department_table"
                                       class="table-responsive"
                                       data-id-field="id"
                                       data-response-handler="responseHandler"
                                       data-click-to-select="true">
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                {% if departments %}
                    <div class="row">
                        <div class="col-md-12">
                            <br>
                            <div class="ibox float-e-margins">
                                <div class="ibox-title">
                                    <h5>年级信息表</h5>
                                    <div class="ibox-tools">
                                        <button id="add_grade_button" class="btn btn-primary">添加年级</button>
                                        <button id="remove_grade_button" class="btn btn-danger" disabled>删除年级</button>
                                        <button id="save_grade_button" class="btn btn-primary">保存修改</button>
                                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                    </div>
                                </div>
                                <div class="ibox-content">
                                    <table id="grade_table"
                                           class="table-responsive"
                                           data-id-field="id"
                                           data-response-handler="responseHandler"
                                           data-click-to-select="true">
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pull-right" style="margin-top: 80px; margin-bottom: 20px">
                        <a href="{% url 'super_manage:classes_manage' %}">前往设置班级 >>></a>
                    </div>
                {% else %}
                    <hr>
                    请先添加系，有系后可进行下一步设置
                {% endif %}
            {% else %}
                <hr>
                请先添加学院，有学院后可进行下一步设置
            {% endif %}
        {% else %}
            <hr>
            请先添加校区，有校区后可进行下一步设置，只有一个校区的建议填写 主校区
        {% endif %}
    {% else %}
        <hr>
        请先设置您的学校名称，设置完学校名称即可进行下一步设置
    {% endif %}

{% endblock %}

{% block add_js_to_super_manage %}
    <!--当前页面的全局设置-->
    <script>
        var from_url = "{% url 'super_manage:school_manage' %}";
    </script>

    <!--学校信息设置相关  开始-->
    <script>
        $(document).ready(function() {
            $('#school_name').editable({
                type: 'text',
                placeholder:'请设置您的学校',
                emptytext: '请设置您的学校',
            });
        });

        // 提交学校信息
        function submit_school(){
            var school_name = $('#school_name').html();
            console.log('提交学校名称school_name:', school_name);

            if(school_name == empty_text){
                alert('请输入学校名称')
            }else{
                {% if school %}
                    if(school_name != '{{ school.name }}'){
                        console.log('修改了学校名称');
                        create_or_modify_school('{{ school.name }}', school_name)
                    }
                {% else %}
                    console.log('创建学校：', school_name);
                    create_or_modify_school(school_name, school_name);
                {% endif %}
            }
        }
        function create_or_modify_school(old_school_name, new_school_name) {
            var to_url = "{% url 'super_manage:create_or_modify_school_ajax' %}";
            var data = {"old_school_name":old_school_name, "new_school_name":new_school_name};
            base_ajax(from_url, to_url, data);
        }
    </script>
    <!--学校信息设置相关  结束-->



    <!--学校校区表设置相关  开始-->
    <script>
        var school_area_table = $('#school_area_table');
        var remove_school_area_button = $('#remove_school_area_button');
        var selections = [];

        function init_school_area_table() {
            console.log('init_school_area_table()执行');
            school_area_table.bootstrapTable('destroy').bootstrapTable({
                locale: $('#locale').val(),
                columns: [
                    [{
                        field: 'state',
                        checkbox: true,
                    }, {
                        title: '序号',
                        field: 'id',
                    }, {
                        field: 'school_area_name',
                        title: '校区名称<span class="need">*</span>',
                        editable:{
                            type:'text',
                        },
                    },{
                        field:'id_in_database',
                    }]
                ]
            });

            set_a_table(from_url, school_area_table, remove_school_area_button, 'school_areas');
        }

        function load_school_area(){
            console.log('load_school_area()执行');
            var index = 0;
            {% for school_area in school_areas %}
                var new_row = {
                    "id": index,
                    "school_area_name": '{{ school_area.name }}',
                    "id_in_database": '{{ school_area.id }}',
                };
                // 插入该行
                school_area_table.bootstrapTable('insertRow', {
                    index: index,
                    row: new_row
                });
                index = index + 1;
            {% empty %}
            {% endfor %}
        }

        $(function() {
            init_school_area_table();
            load_school_area();
            $('#locale').change(init_school_area_table);
        })
    </script>
    <!--学校校区表设置相关  结束-->

    <!--动态添加校区表格行 事件 开始-->
    <script>
        $("#add_school_area_button").click(function () {
            // 用index实现编号自增
            var index = school_area_table.bootstrapTable('getData').length;

            var new_row = {
                "id": index,
                "school_area_name":"",
            };
            // 最后插入该行
            school_area_table.bootstrapTable('insertRow', {
                index: index,
                row: new_row
            });
        });
    </script>
    <!--动态添加校区表格行 事件 结束-->

    <!--保存 修改或增加校区信息 后的表格 事件 开始 -->
    <script>
        $('#save_school_area_button').click(function () {
            var school_areas_origin = school_area_table.bootstrapTable('getData');
            var school_areas = [];

            var pass = true;

            $('.not_null').remove();	 // 清除掉以前的错误信息

            $.each(school_areas_origin, function (index, value) {
                console.log(index, value);

                if(value['school_area_name'] === empty_text || value['school_area_name'] == ""){
                    pass = false;
                    add_tip('school_area_table', index, 2)
                }
            });
            if(pass){
                save_ajax(from_url, 'school_areas', school_areas_origin, '{{ school.id }}');
            }
        })
    </script>
    <!--保存 修改或增加校区信息 后的表格 事件 结束 -->




    <!--学院表设置相关  开始-->
    <script>
        var institute_table = $('#institute_table');
        var remove_institute_button = $('#remove_institute_button');
        var selections = [];

        function init_institute_table() {
            console.log('init_institute_table()执行');
            institute_table.bootstrapTable('destroy').bootstrapTable({
                locale: $('#locale').val(),
                columns: [
                    [{
                        field: 'state',
                        checkbox: true,
                    }, {
                        title: '序号',
                        field: 'id',
                    },{
                        field:'school_area',
                        title: '所属校区<span class="need">*</span>',
                        editable:{
                            type:'select',
                            source: [
                                {% for school_area in school_areas %}
                                    { value: {{ school_area.id }}, text: '{{ school_area.name }}'},
                                {% empty %}
                                    { value:"", text: not_found_data},
                                {% endfor %}
                            ]
                        },
                    },{
                        field: 'institute_name',
                        title: '学院名称<span class="need">*</span>',
                        editable:{
                            type:'text',
                        },
                    },{
                        field:'id_in_database',
                    }]
                ]
            });

            set_a_table(from_url, institute_table, remove_institute_button, 'institutes');
        }

        function load_institute(){
            console.log('load_institute()执行');
            var index = 0;
            {% for institute in institutes %}
                var new_row = {
                    "id": index,
                    "school_area": '{{ institute.school_area.id }}',
                    'institute_name': '{{ institute.name }}',
                    "id_in_database": '{{ institute.id }}',
                };
                // 插入该行
                institute_table.bootstrapTable('insertRow', {
                    index: index,
                    row: new_row
                });
                index = index + 1;
            {% empty %}
            {% endfor %}
        }

        $(function() {
            init_institute_table();
            load_institute();
            $('#locale').change(init_institute_table);
        })
    </script>
    <!--学院表设置相关  结束-->

    <!--动态添加学院表格行 事件 开始-->
    <script>
        $("#add_institute_button").click(function () {
            // 用index实现编号自增
            var data = institute_table.bootstrapTable('getData');
            var index = data.length;

            var new_row = null;

            if(index == 0){
                new_row = {
                    "id": index,
                    "school_area": {% if school_areas %}{{ school_areas.0.id }}{% else %}""{% endif %},
                    "institute_name": ""
                };
            }else{
                new_row = {
                    "id": index,
                    "school_area": data[index-1].school_area,
                    "institute_name": "",
                };
            }

            // 最后插入该行
            institute_table.bootstrapTable('insertRow', {
                index: index,
                row: new_row
            });
        });
    </script>
    <!--动态添加学院表格行 事件 结束-->

    <!--保存修改或增加学院信息后的表格 事件 开始 -->
    <script>
        $('#save_institute_button').click(function () {
            var institutes = institute_table.bootstrapTable('getData');

            if(institutes.length !== 0){
                var pass = true;

                $('.not_null').remove();	 // 清除掉以前的错误信息

                $.each(institutes, function (index, value) {
                    console.log(index, value);

                    if(value['school_area'] === empty_text || value['school_area'] == ""){
                        pass = false;
                        add_tip('institute_table', index, 2)
                    }

                    if(value['institute_name'] === empty_text || value['institute_name'] == ""){
                        pass = false;
                        add_tip('institute_table', index, 3)
                    }
                });
                if(pass){
                    save_ajax(from_url, 'institutes', institutes, '{{ school.id }}')
                }
            }
        })
    </script>
    <!--保存修改或增加学院信息后的表格 事件 结束 -->



    <!--系表设置相关  开始-->
    <script>
        var department_table = $('#department_table');
        var remove_department_button = $('#remove_department_button');
        var selections = [];

        function init_department_table() {
            console.log('init_department_table()执行');
            department_table.bootstrapTable('destroy').bootstrapTable({
                locale: $('#locale').val(),
                columns: [
                    [{
                        field: 'state',
                        checkbox: true,
                    }, {
                        title: '序号',
                        field: 'id',
                    },{
                        field:'institute',
                        title: '所属学院<span class="need">*</span>',
                        editable:{
                            type:'select',
                            source: [
                                {% for institute in institutes %}
                                    { value: {{ institute.id }}, text: '{{ institute.name }}'},
                                {% empty %}
                                    { value:"", text: not_found_data},
                                {% endfor %}
                            ]
                        },
                    },{
                        field: 'department_name',
                        title: '系名称<span class="need">*</span>',
                        editable:{
                            type:'text',
                        },
                    },{
                        field:'id_in_database',
                    }]
                ]
            });

            set_a_table(from_url, department_table, remove_department_button, 'departments');
        }

        function load_department(){
            console.log('load_department()执行');
            var index = 0;
            {% for department in departments %}
                var new_row = {
                    "id": index,
                    'institute': '{{ department.institute.id }}',
                    'department_name': '{{ department.name }}',
                    "id_in_database": '{{ department.id }}',
                };
                // 插入该行
                department_table.bootstrapTable('insertRow', {
                    index: index,
                    row: new_row
                });
                index = index + 1;
            {% empty %}
            {% endfor %}
        }

        $(function() {
            init_department_table();
            load_department();
            $('#locale').change(init_department_table);
        })
    </script>
    <!--系表设置相关  结束-->

    <!--动态添加系表格行 事件 开始-->
    <script>
        $("#add_department_button").click(function () {
            // 用index实现编号自增
            var data = department_table.bootstrapTable('getData');
            var index = data.length;

            var new_row = null;

            if(index == 0){
                new_row = {
                    "id": index,
                    "institute": {% if institutes %}{{ institutes.0.id }}{% else %}""{% endif %},
                    "department_name": ""
                };
            }else{
                new_row = {
                    "id": index,
                    "institute": data[index-1].institute,
                    "department_name": "",
                };
            }

            // 最后插入该行
            department_table.bootstrapTable('insertRow', {
                index: index,
                row: new_row
            });
        });
    </script>
    <!--动态添加系表格行 事件 结束-->

    <!--保存修改或增加系信息后的表格 事件 开始 -->
    <script>
        $('#save_department_button').click(function () {
            var departments = department_table.bootstrapTable('getData');

            if(departments.length !== 0){
                var pass = true;

                $('.not_null').remove();	 // 清除掉以前的错误信息

                $.each(departments, function (index, value) {
                    console.log(index, value);

                    if(value['institute'] === empty_text || value['institute'] == ""){
                        pass = false;
                        add_tip('department_table', index, 2)
                    }

                    if(value['department_name'] === empty_text || value['department_name'] == ""){
                        pass = false;
                        add_tip('department_table', index, 3)
                    }
                });
                if(pass){
                    save_ajax(from_url, 'departments', departments, '{{ school.id }}')
                }
            }
        })
    </script>
    <!--保存修改或增加系信息后的表格 事件 结束 -->




    <!--年级表设置相关  开始-->
    <script>
        var grade_table = $('#grade_table');
        var remove_grade_button = $('#remove_grade_button');
        var selections = [];

        function init_grade_table() {
            console.log('init_grade_table()执行');
            grade_table.bootstrapTable('destroy').bootstrapTable({
                locale: $('#locale').val(),
                columns: [
                    [{
                        field: 'state',
                        checkbox: true,
                    }, {
                        title: '序号',
                        field: 'id',
                    },{
                        field:'department',
                        title: '所属 系<span class="need">*</span>',
                        editable:{
                            type:'select',
                            source: [
                                {% for department in departments %}
                                    { value: {{ department.id }}, text: '{{ department.name }}'},
                                {% empty %}
                                    { value:"", text: not_found_data},
                                {% endfor %}
                            ]
                        },
                    },{
                        field: 'grade_name',
                        title: '年级名称(建议直接填年级的年份数字)<span class="need">*</span>',
                        editable:{
                            type:'text',
                        },
                    },{
                        field:'id_in_database',
                    }]
                ]
            });

            set_a_table(from_url, grade_table, remove_grade_button, 'grades');
        }

        function load_grade(){
            console.log('load_grade()执行');
            var index = 0;
            {% for grade in grades %}
                var new_row = {
                    "id": index,
                    'department': '{{ grade.department.id }}',
                    'grade_name': '{{ grade.name }}',
                    "id_in_database": '{{ grade.id }}',
                };
                // 插入该行
                grade_table.bootstrapTable('insertRow', {
                    index: index,
                    row: new_row
                });
                index = index + 1;
            {% empty %}
            {% endfor %}
        }

        $(function() {
            init_grade_table();
            load_grade();
            $('#locale').change(init_grade_table);
        })
    </script>
    <!--年级表设置相关  结束-->

    <!--动态添加年级表格行 事件 开始-->
    <script>
        $("#add_grade_button").click(function () {
            // 用index实现编号自增
            var data = grade_table.bootstrapTable('getData');
            var index = data.length;

            var new_row = null;

            if(index == 0){
                new_row = {
                    "id": index,
                    "department": {% if departments %}{{ departments.0.id }}{% else %}""{% endif %},
                    "grade_name": ""
                };
            }else{
                new_row = {
                    "id": index,
                    "department": data[index-1].department,
                    "grade_name": data[index-1].grade_name,
                };
            }

            // 最后插入该行
            grade_table.bootstrapTable('insertRow', {
                index: index,
                row: new_row
            });
        });
    </script>
    <!--动态添加年级表格行 事件 结束-->

    <!--保存修改或增加年级信息后的表格 事件 开始 -->
    <script>
        $('#save_grade_button').click(function () {
            var grades = grade_table.bootstrapTable('getData');

            if(grades.length !== 0){
                var pass = true;

                $('.not_null').remove();	 // 清除掉以前的错误信息

                $.each(grades, function (index, value) {
                    console.log(index, value);

                    if(value['department'] === empty_text || value['department'] == ""){
                        pass = false;
                        add_tip('grade_table', index, 2)
                    }

                    if(value['grade_name'] === empty_text || value['grade_name'] == ""){
                        pass = false;
                        add_tip('grade_table', index, 3)
                    }
                });
                if(pass){
                    save_ajax(from_url, 'grades', grades, '{{ school.id }}')
                }
            }
        })
    </script>
    <!--保存修改或增加年级信息后的表格 事件 结束 -->
{% endblock %}
