<!--super_user/system_settings.html-->

{% extends 'super_manage/base.html' %}

{% block add_css_to_super_manage %}
    <style>
        #term{
            height: 40px;
            position: absolute;
        }
        #begin_date{
            width: 20%;
        }
    </style>
{% endblock %}

{% block super_manage_body %}
    {% if school.name %}
        <div class="row">
            <div class="col-md-3">
                <label>当前学年学期：</label>{{ school_year }} &nbsp;<a id="term"></a>
            </div>
            <div class="col-md-4">
                <label>设置本学期开始时间：</label><a id="begin_date"></a>
                <a onclick="save_term()" title="保存修改" class="pull-right"><i class="fa fa-save"></i></a>
            </div>
        </div>
        {% else %}
        <hr>
        请先设置您的学校名称，设置完学校名称即可进行下一步设置
    {% endif %}
{% endblock %}

{% block add_js_to_super_manage %}
    <script src="/static/css_js/js/moment.js"></script>

    <!--当前页面的全局设置-->
    <script>
        var from_url = "{% url 'super_manage:system_settings' %}";
    </script>

    <!--学期信息设置相关  开始-->
    <script>
        $(document).ready(function() {
            $('#school_name').editable({
                type: 'text',
                placeholder:'请设置您的学校',
                emptytext: '请设置您的学校',
            });

            $('#term').editable({
                type: 'select',
                value: {% if term.name %}'{{ term.name }}'{% else %}'第一学期'{% endif %},
                source: [
                    {value: '第一学期', text: '第一学期'},
                    {value: '第二学期', text: '第二学期'},
                ],
            });

            $('#begin_date').editable({
                type: 'combodate',
                title: '建议直接设置开学第一天',
                format: 'YYYY-MM-DD',   // 向服务器发送值的格式
                viewformat: 'YYYY-MM-DD',   // 页面上显示日期的格式
                template: 'YYYY 年<br>MMMM 月<br>D 日<br>',    // 显示下拉列表的模板
                emptytext:"----/--/--",
                combodate: {
                    minYear: 2019,
                    maxYear: 2025,
                    minuteStep: 1,
                },
                value: '{{ term_begin_date }}', // 要求后台传入的term_begin_date格式为YYYY-MM-DD
                mode:"popup",   // 设置为弹出方式
                placement: 'bottom',    // 设置弹出框的位置
                showbuttons: 'bottom',
            });
        });

        // 保存学期信息
        function save_term() {
            var begin_date = $('#begin_date').html();
            var term_name = $('#term').html();
            console.log('保存学期开始时间：', begin_date, '保存学期：', term_name);
            var to_url = "{% url 'super_manage:save_term_ajax' %}";
            var data = {'term_id':'{{ term.id }}', 'term_name': term_name, 'begin_date': begin_date};
            base_ajax(from_url, to_url, data);
        }

        // 提交学校信息
        function submit_school(){
            var school_name = $('#school_name').html();
            console.log('提交学校名称school_name:', school_name);

            if(school_name == empty_text){
                alert('请输入学校名称')
            }else{
                {% if school %}
                    if(school_name != '{{ school.name }}'){
                        console.log('修改了学校名称');
                        create_or_modify_school('{{ school.name }}', school_name)
                    }
                {% else %}
                    console.log('创建学校：', school_name);
                    create_or_modify_school(school_name, school_name);
                {% endif %}
            }
        }
        function create_or_modify_school(old_school_name, new_school_name) {
            var to_url = "{% url 'super_manage:create_or_modify_school_ajax' %}";
            var data = {"old_school_name":old_school_name, "new_school_name":new_school_name};
            base_ajax(from_url, to_url, data);
        }
    </script>
    <!--学期信息设置相关  结束-->
{% endblock %}